{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}

{% block title %}{% trans %}Model viewing {%endtrans%}{% endblock %}

{% block breadcrumb %}
<ol class="breadcrumb">
	{% if route_exists('homepage') %}<li><a href="{{ path('homepage') }}">{%trans %}breadcrumb.home{% endtrans %}</a></li>{% endif %}
	<li><a href="{{ path('configurateur_homepage') }}">{%trans %}breadcrumb.configurator{% endtrans %}</a></li>
	<li><a href="{{ path('configurateur_model_index') }}">{%trans %}breadcrumb.datamodel.index{% endtrans %}</a></li>
	<li class="active">{% trans with {'%modelName%': modelName}%}breadcrumb.datamodel.view{% endtrans %}</li>
</ol>
{% endblock breadcrumb %}

{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 id="panel-title" class="panel-title">
			{{ model.name }}
		</h3>
	</div>
	<div class="panel-body">
		<br>
		<p><b>Description : </b> {{ model.description }}</p>
	</div>
	{% if tables|length != 0 %}
	<div class="panel-body">
		<div class=col-md-6>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th data-halign="center" data-align="center">{% trans %}datamodel.edit.tables.title{% endtrans %}</th>
						<th></th>
					</tr>
				</thead>
				{% for table in tables %}
				<tr>
					<td>{{ table.label }}</td>
					<td class=col-md-1><a type="button" class="btn btn-default"
					href="{{ path('configurateur_table_view',{ 'modelId' : model.id, 'format': table.format} ) }}"> <span
							class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}
</div>

{% endblock body %}