{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}
{% form_theme tableForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
	{% trans %}Edition d'une table {% endtrans %}
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		<li><a href="{{ path('homepage') }}">{%trans %}breadcrumb.home{% endtrans %}</a></li>
		<li><a href="{{ path('configurateur_homepage') }}">{%trans %}breadcrumb.configurator{% endtrans %}</a></li>
		<li><a href="{{ path('configurateur_model_index') }}">{%trans %}breadcrumb.datamodel.index{% endtrans %}</a></li>
		<li><a href="{{ path('configurateur_model_edit', { 'id' : model.id })}}">{% trans with {'%modelName%': model.name}%}breadcrumb.datamodel.edit{% endtrans %}</a></li>
		<li class="active">{%trans with {'%tableName%': table.label} %}breadcrumb.table.edit{% endtrans %}</li>
	</ol>
{% endblock breadcrumb %}

{% block body %}
{% if tableForm is defined %}

	<div class="panel panel-primary with-nav-tabs">
		<div class="panel-heading clearfix">
			<div class="pull-left">
				{# Title #}
				<h3 id="panel-title" class="panel-title">
					{% trans with {'%table.label%': table.label, '%model.name%': model.name} %}table.edit.def.title{% endtrans %}
				</h3>
			</div>
			<div class="pull-right">
				{# Navigation Tabs #}
				<ul class="nav nav-tabs">
					<li class="active"><a href="#">{% trans %}Edit{% endtrans %}</a></li>
					<li ><a href="{{ path('configurateur_table_fields',{ 'modelId' : model.id, 'format': table.format} ) }}">{% trans %}table.edit.fields.edit{% endtrans %}</a></li>
				</ul>
			</div>
		</div>
		<div class="panel-body">
			{{ form(tableForm) }}<br />
		</div>
	</div>

	<!-- General page buttons -->
	<p>
		<a type="button" class="btn btn-default"
		   href="{{ path('configurateur_model_edit', { 'id' : model.id })}}">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			{% trans %}datamodel.back.button{% endtrans %}
		</a>
	</p>

{% endif %}
{% endblock body %}

{% block javascripts %}
	{{ parent() }}
	{{ include('IgnOGAMConfigurateurBundle::preventclosing.html.twig') }}
{% endblock %}
