{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}

{% block title %}
	{% trans %}Table viewing{% endtrans %}
{% endblock %}

{% block breadcrumb %}
	<ol class="breadcrumb">
		{% if route_exists('homepage') %}<li><a href="{{ path('homepage') }}">{%trans %}breadcrumb.home{% endtrans %}</a></li>{% endif %}
		<li><a href="{{ path('configurateur_homepage') }}">{%trans %}breadcrumb.configurator{% endtrans %}</a></li>
		<li><a href="{{ path('configurateur_model_index') }}">{%trans %}breadcrumb.datamodel.index{% endtrans %}</a></li>
		<li><a href="{{ path('configurateur_model_view', { 'id' : modelId })}}">{% trans with {'%modelName%': modelName}%}breadcrumb.datamodel.view{% endtrans %}</a></li>
		<li class="active">{%trans with {'%tableName%': table.label} %}breadcrumb.table.view{% endtrans %}</li>
	</ol>
{% endblock breadcrumb %}

{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 id="panel-title" class="panel-title">
			{% trans with {'%table.label%': table.label, '%model.name%': modelName} %}table.view.title{% endtrans %}
		</h3>
	</div>
	<div class="panel-body">
		<div class="panel-body">
			<br>
			<p><b> Description : </b> {{ table.description }} </p>
			{% if  parentTable == '*' or parentTable == null %}
				<p><b> Table parente : </b> {% trans %}table.view.noParent{% endtrans %}</p>
			{% else %}
				<p><b> Table parente : </b> {{ parentTable }} </p>
			{% endif %}
		</div>
		<div class=col-md-8>
			<!-- Table at the right (fields of the table) -->
			<table id="selected-data-table"
				class="table table-bordered table-striped"
				data-toggle="table" data-height="400">
				<thead>
					<tr>
						<th data-field="fieldName">{% trans %}Field name{% endtrans %}</th>
						<th data-field="unitType">{% trans %}Unit{% endtrans %}</th>
						<th>{% trans %}Mandatory{% endtrans %}</th>
					</tr>
				</thead>
				<tbody>
					{% for champ in tableFields %} {% if champ.fieldName[0:5] !=
					'OGAM_' and champ.fieldName != 'PROVIDER_ID' and champ.fieldName
					!= 'SUBMISSION_ID' %}
					<tr>
						<td id="name">{{ champ.label }}</td>
						<td id="unit">{{ champ.unitType }}</td>
						<td id="mandatory" class=text-center">
							{% if champ.isMandatory == '1' %}
								 <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> {% trans %} yes {% endtrans %}
							{% else %}
								{% trans %} no {% endtrans %}
							{% endif %}
						</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}
