{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}

{% form_theme fileForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
	{% trans %}File Format Edition{% endtrans %}
{% endblock %}

{% block body %}
<div class="container">

	<div class="row">

		<p class="help pull-right">
			<a target="_blank" href="{{ constant('Ign\\Bundle\\OGAMConfigurateurBundle\\Constants\\Constants::DOCUMENTATION_URL') }}/configurateur/modele-d-import.html">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				Aide sur les modèles d'import
			</a>
		</p>

		<ol class="breadcrumb">
			<li><a href="{{ path('configurateur_homepage') }}">{%trans
					%}breadcrumb.home{% endtrans %}</a></li>
			<li><a href="{{ path('configurateur_dataset_import_index') }}">{%trans
					%}breadcrumb.importmodel.index{% endtrans %}</a></li>
			<li><a
				href="{{ path('configurateur_dataset_import_edit', {'id' : dataset.id}) }}">{%trans
					with {'%modelName%': dataset.label}%}breadcrumb.importmodel.edit{%
					endtrans %}</a></li>
			<li class="active">{% trans with {'%fileName%':
				file.label}%}breadcrumb.file.edit{% endtrans %}</li>
		</ol>
	</div>

	<div class="row">
		{# Flash messages #}
		{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="alert alert-success">{{ flashMessage }}</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error') %}
			<div class="alert alert-danger">{{ flashMessage }}</div>
		{% endfor %}
	</div>

	<div class="row">
		<div class="panel panel-primary with-nav-tabs">
			<div class="panel-heading clearfix">
				<div class="pull-left">
					{# Title #}
					<h3 id="panel-title" class="panel-title">
						{% trans with {'%file.label%': file.label, '%dataset.label%' : dataset.label} %}file.edit.title{% endtrans %}
					</h3>
				</div>
				<div class="pull-right">
					{# Navigation Tabs #}
					<ul class="nav nav-tabs">
						<li class="active"><a href="#">{% trans %}Edit{% endtrans %}</a></li>
						<li ><a href="{{ path('configurateur_file_fields',{ 'datasetId' : dataset.id, 'format': file.format} ) }}">{% trans %}Gérer les Champs{% endtrans %}</a></li>
						<li ><a href="{{ path('configurateur_file_mappings',{ 'datasetId' : dataset.id, 'format': file.format} ) }}">{% trans %}Gérer les Mappings{% endtrans %}</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				{{ form(fileForm) }}
			</div>
		</div>
	</div>

	<!-- General page buttons -->
	<div class="row">
		<p>
		<a type="button" class="btn btn-default"
			href="{{ path('configurateur_dataset_import_edit', {'id' : dataset.id}) }}">
			<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			{% trans %}importmodel.back.button{% endtrans %}
		</a>
		</p>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ include('IgnOGAMConfigurateurBundle::preventclosing.html.twig') }}
{% endblock %}

