{% extends "IgnConfigurateurBundle::layout.html.twig" %}

{% form_theme fileForm 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
	{% trans %}File Format Creation{% endtrans %}
{% endblock %}

{% block body %}

<div class="container">
	<div class="row">

		<p class="help pull-right">
			<a target="_blank" href="{{ constant('Ign\\Bundle\\ConfigurateurBundle\\Constants\\Constants::DOCUMENTATION_URL') }}/configurateur/modele-d-import.html">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				Aide sur les modèles d'import
			</a>
		</p>

		<ol class="breadcrumb">
			<li><a href="{{ path('configurateur_homepage') }}">{%trans%}breadcrumb.home{% endtrans %}</a></li>
			<li><a href="{{ path('configurateur_dataset_import_index') }}">{%trans%}breadcrumb.importmodel.index{% endtrans %}</a></li>
			<li><a href="{{ path('configurateur_dataset_import_edit', {'id' : dataset.id}) }}">{%trans with {'%modelName%' : dataset.label} %}breadcrumb.importmodel.edit{% endtrans %}</a></li>
			<li class="active">{% trans %}breadcrumb.file.new{% endtrans%}</li>
		</ol>
	</div>

	{% if fileForm is defined %}
	<div class="row">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 id="panel-title" class="panel-title">
				{% trans with {'%dataset.label%': dataset.label} %}file.new.title{% endtrans %}
				</h3>
			</div>
			<div class="panel-body">
				{{ form_start(fileForm) }}
				{{ form_errors(fileForm) }}

				{{ form_row(fileForm.label) }}
				{{ form_row(fileForm.description) }}

				<div class="row"><div class="col-sm-10 col-sm-push-2">
					{{ form_widget(fileForm.save) }}
					{{ form_widget(fileForm.saveAndFields) }}
				</div>
			</div>
				{{ form_end(fileForm) }} <br />
			</div>
		</div>
	</div>
	{% endif %}
</div>

{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ include('IgnConfigurateurBundle::preventclosing.html.twig') }}
{% endblock %}
