<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="robots" content="index, follow" />
		<meta name="keywords" content="ogam" />
		<meta name="description" content="open-source generic application base on metadata" />
        <title>{% block title %}OGAM{% endblock %}</title>
        {% block stylesheets %}
{#          {% stylesheets 'bundles/ogam/css/global.css' filter='cssrewrite' %}#}
{#              <link rel="stylesheet" href="{{ asset_url }}" />#}
{#          {% endstylesheets %}#}
            {% stylesheets '@bootstrap_css' %}
                <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    
    	<div id="wrapper" class="wrapper">

            <div id="main-body-bg" class="main-body-bg"></div>
            <div class="container">
            
                <!-- HEADER -->
                <div class="header" id="header">
            
                    <div id="banner" class="banner">
                        <a href="{{ path('homepage') }}">
                            {% image '@OGAMBundle/Resources/public/img/banner.jpg' %}
                            <img src="{{ asset_url }}" alt="Banner"/>
                            {% endimage %}
                       </a>
                    </div>
            
                    <div id="top" class="top">
                    
                    {% block navbar %} {% endblock %}
            
            			<div id="header-beadcrumb" class="breadcrumb" style="float: left">
                            {{ wo_render_breadcrumbs() }}
            			</div>
            			
            			<div id="header-login" class="header-login" style="float: right">
            				
            				<!-- Drapeaux pour changer la langue  -->
            				{% if app.request.getLocale == 'fr' %}
            					<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=en" ><div class="en-flag" title="{% trans %}Translate this site en{% endtrans %}">&nbsp;</div></a>
            				{% else %}
            					<a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang=fr" ><div class="fr-flag" title="{% trans %}Translate this site fr{% endtrans %}">&nbsp;</div></a>
            				{% endif %}
            				
            				{% if app.user %}
            					<a href="{{ path('user_changepassword') }}">{% trans %}Change Password{% endtrans %}</a>
            					&nbsp;
            					<a id="logoutLink" href="{{ path('user_logout') }}">{% trans %}Log out{% endtrans %}</a>
            			    {% else %}
            			    	<a href="{{ path('user_login') }}">{% trans %}Log in{% endtrans %}</a>            			    
            			    {% endif %}                          			
                  		</div>
                  	</div>
            
            	<!-- Fin du header -->
            	</div>
    
                <!-- CONTENT -->
                <div class="content" id="content">
                
                    <!--  Flash messages -->
                    {% include ('::flash-messages.html.twig') %}
                                
                	{% block body %}{% endblock %}
                </div>
    
            
        <!-- Fin du main-body -->
        </div>

    <!-- Utilisé pour maintenir le bas de page en bas -->
    <div id="push" class="push"></div>

    <!-- Fin du wrapper -->
    </div>
    
    <div class="panel-footer"  id="footer">
        <div class="container">
        	<span title="Build @build_number@">Version @version_number@&nbsp;-&nbsp;</span>
            {{'Layout Copyright'|trans}} &nbsp;
            <a id="lkContact" onclick="sendMail();" href="#">{% trans %}Contact Us{% endtrans %}</a>
        </div>
    </div>
            
            
    </body>
    
  {% block javascripts %}
  
  {% javascripts '@jquery' '@bootstrap_js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
  
    <script type="text/javascript">
      //Defines the base URL for the scripts
     function sendMail(){
        pre='{{ configurationManager.getConfig('contactEmailPrefix') }}';
        suf='{{ configurationManager.getConfig('contactEmailSufix') }}';
        document.getElementById('lkContact').href="mailto:" + pre + "@" + suf;
      }
 	 </script>
  
  {% endblock %}
</html>
