<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="index, follow" />

    <title>{% block title %}
        {{ configurationManager.getConfig('site_name', 'GINCO') }}
    {% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">

    {% block stylesheets %}
        {% stylesheets
        '@bootstrap_css'
        filter='cssrewrite, yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}
</head>

<body>
<div class="page">
    <header id="page-header">
        {#== Logo and banner ==#}
        <div id="banner" class="container">
            <div class="row">
                <div class="col-xs-3">
                    <div id="header-logo">
                        <a href="{{ path('homepage') }}"  title="{% trans %}Home{% endtrans %}">
                            {% image 'img/logo-sinp.png' %}
                            <img src="{{ asset_url }}" alt="{% trans %}SINP - Système d'Information Nature et Paysages{% endtrans %}"/>
                            {% endimage %}
                        </a>
                    </div>
                </div>
                <div class="col-xs-9 text-right h2 header-title">
                    {{ configurationManager.getConfig('site_name', 'GINCO') }}
                </div>
            </div>
        </div>
    </header>

    {#== Main Menu ==#}
    <div id="main-menu">
        <div class="container">
            <nav id="navbar">
                {% include 'menu.html.twig' %}

                {#== User box/connexion link==#}
                <ul class="nav navbar-nav navbar-right">
                    {% if app.user %}
                        {# User menu #}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ app.user.login }} <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_changepassword') }}">{{ 'Change Password'|trans }}</a></li>
                                <li><a href="{{ path('user_logout') }}">{{ 'Log out'|trans }}</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><a href="{{ path('user_login') }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {% trans %}Log in{% endtrans %}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>

    {#== Breadcrumb and Help Link ==#}
    <div class="container">
        <div class="help-link pull-right">
            {% set helpLink = configurationManager.getConfig('documentationUrl', 'documentation_url_missing')  %}
            {% set helpLabel = 'Aide' %}
            <a href="{{ helpLink }}" target="_blank"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> {{ helpLabel }}</a>
            {#<?php
                 $docUrlBase = $configuration->getConfig('documentationUrl', 'documentation_url_missing');
            $icon = "<img src='/img/help.png' alt='help icon'>";

            $config = new Zend_Config_Yaml(CUSTOM_APPLICATION_PATH.'/configs/navigation.yml', 'nav');
            $container = new Zend_Navigation($config);

            $controller = $container->findOneBy('controller', $controllerName);
            if ($controller) {
            $link = $docUrlBase . $controller->help;
            echo "$icon <a href='$link' target='_blank'>" . $controller->helpLabel . "</a>";
            }
            ?>#}
        </div>

        {{ wo_render_breadcrumbs() }}
    </div>


    {#== Page content ==#}
    <main id="main" class="container">

        {#== Flash messages ==#}
        {% block flash_messages %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {{ message|trans|raw }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endblock %}

        {#== Main content ==#}
        {% block body %}{% endblock %}
    </main>

    {#== Footer ==#}
    <footer class="footer">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="#" data-toggle="modal" data-target="#legalModal">{{ 'Legal notice'|trans }}</a></li>
                <li><a href="#" data-toggle="modal" data-target="#copyrightsModal">{{ 'Geoportal copyrights'|trans }}</a></li>
                <li><a href="#">{{ 'Contact'|trans }}</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <p class="navbar-text">Version : @build.version@</p>
            </ul>
        </div>
    </footer>

    {# Include Modals (Legal Notices and copyrigths) #}
    {% include 'legalNotices.modal.html.twig' %}
    {% include 'geoportailCopyrigths.modal.html.twig' %}

    {#== Piwik tracking ==#}
    {% if app.environment != 'dev' %}
        {% include 'piwik.html.twig' %}
    {% endif %}

</div>

{% block javascripts %}
    {% javascripts
    '@jquery_and_bootstrap'
     %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
