{# Legal Notices Modal #}

{#
	Note: Pour modifier facilement ce gros bloc html: http://nightly.ckeditor.com
 	Copier-coller en mode "source", passer en mode WYSIWYG, repasser en source quand c'est fini
	et copier-coller ici.
#}

<div class="modal fade" id="legalModal" tabindex="-1" role="dialog" aria-labelledby="legalModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="legalModalLabel">Mentions légales</h4>
			</div>
			<div class="modal-body">

				<h1>Mentions l&eacute;gales</h1>

				<h2>Informations &Eacute;diteurs</h2>

				<p>Le site <a href="{{ configurationManager.getConfig('site_url') }}">{{ configurationManager.getConfig('site_url') }}</a> est &eacute;dit&eacute; par le Minist&egrave;re de la Transition &eacute;cologique et solidaire (MTES) et g&eacute;r&eacute; en partenariat avec l&#39;Institut national de l&#39;information g&eacute;ographique et foresti&egrave;re, ainsi que le Museum National d&rsquo;Histoire Naturelle (MNHN).&nbsp;</p>

				<p><strong>Minist&egrave;re de la Transition &eacute;cologique et solidaire</strong><br />
					Direction de l&#39;eau et de la biodiversit&eacute;<br />
					Arche Sud - 92055 La D&eacute;fense Cedex<br />
					T&eacute;l&eacute;phone : 01 40 81 19 61</p>

				<p>Directeur de la publication : Fran&ccedil;ois MITTEAULT, directeur de l&#39;eau et de la biodiversit&eacute;</p>

				<p><strong><strong>Institut national de l&rsquo;information g&eacute;ographique et foresti&egrave;re (IGN)</strong></strong><strong><strong> </strong></strong><br />
					73 avenue de Paris - 94165 Saint-Mand&eacute; Cedex, France<br />
					T&eacute;l&eacute;phone : 01 43 98 80 00</p>

				<p><strong>Museum National d&rsquo;Histoire Naturelle (MNHN)</strong><br />
					UMS 2006 Patrimoine naturel<br />
					36 rue Geoffroy Saint-Hilaire<br />
					75231 Paris cedex 05<br />
					T&eacute;l : 01 71 21 46 35</p>

				<p><strong>Coordination g&eacute;n&eacute;rale du projet :</strong><br />
					Laetitia de MONICAULT<br />
					Cheffe du bureau de la connaissance et de la strat&eacute;gie nationale pour la biodiversit&eacute;<br />
					Sous-direction de la protection et de la valorisation des esp&egrave;ces et de leurs milieux (PEM),<br />
					Direction de l&rsquo;eau et de la biodiversit&eacute; (DEB),<br />
					Direction g&eacute;n&eacute;rale de l&rsquo;am&eacute;nagement, du logement et de la nature (DGALN),<br />
					Minist&egrave;re de la Transition eacute;cologique et solidaire</p>

				<h2>Nous contacter</h2>

				<p>Pour toute information ou question concernant le pr&eacute;sent site, vous pouvez utiliser le <a href="{{ path('contact') }}">formulaire de contact</a> pr&eacute;vu &agrave; cet effet.</p>

				<h2>H&eacute;bergement du site :</h2>

				<p>Le site <a href="{{ configurationManager.getConfig('site_url') }}">{{ configurationManager.getConfig('site_url') }}</a> est h&eacute;berg&eacute; par la soci&eacute;t&eacute; Cloud Temple, dont le si&egrave;ge social est situ&eacute;&nbsp;:</p>

				<p>215 Avenue Georges Clemenceau<br />
					92000 Nanterre</p>

				<h2>Conception et d&eacute;veloppement :</h2>

				<p>La conception et le d&eacute;veloppement du site ont &eacute;t&eacute; r&eacute;alis&eacute;s conjointement par l&rsquo;Institut national de l&#39;information g&eacute;ographique et foresti&egrave;re (IGN) et par le Museum National d&rsquo;Histoire Naturelle (MNHN).</p>

				<h2>Propri&eacute;t&eacute; intellectuelle du code</h2>

				<p>Les d&eacute;veloppements (conception du site, &eacute;crans, proc&eacute;dures, fonctionnalit&eacute;s,etc..) sont la co-propri&eacute;t&eacute; du MTES, de l&#39;IGN et du MNHN. Ils disposent conjointement pour le monde entier des droits patrimoniaux sur ces d&eacute;veloppements, qui comprennent notamment les droits de reproduction, de repr&eacute;sentation d&rsquo;adaptation, de traduction, aux fins de diffusion &agrave; des tiers sous licences d&rsquo;utilisation ou d&rsquo;exploitation.</p>

				<p>L&rsquo;application GINCO est libre de r&eacute;utilisation selon les termes et les conditions de la <a href="https://joinup.ec.europa.eu/system/files/FR/EUPL%20v.1.1%20-%20Licence.pdf">licence EUPL</a>.</p>

				<p>Son code est open source ; il est disponible &agrave; l&rsquo;adresse suivante&nbsp;: <a href="https://github.com/SINP-GINCO/ginco">https://github.com/SINP-GINCO/ginco</a>.</p>

				<h2>Diffusion des donn&eacute;es</h2>

				<p>La diffusion des donn&eacute;es brutes de biodiversit&eacute; contenues sur le site est r&eacute;gie par le protocole SINP accessible &agrave; l&#39;adresse : <a href="http://www.naturefrance.fr/sinp/presentation-du-sinp/protocole-du-sinp">http://www.naturefrance.fr/sinp/presentation-du-sinp/protocole-du-sinp</a></p>

				<h2>Donn&eacute;es personnelles</h2>

				<p>Lorsque des donn&eacute;es pr&eacute;sentes sur ce site ont un caract&egrave;re nominatif, les utilisateurs doivent en faire un usage conforme aux r&eacute;glementations en vigueur et aux recommandations de la Commission nationale de l&#39;informatique et des libert&eacute;s (CNIL). Conform&eacute;ment &agrave; la loi Informatique et Libert&eacute; 78-17 du 6 janvier 1978 modifi&eacute;e, vous disposez d&#39;un droit d&#39;opposition (art. 38), d&#39;acc&egrave;s (art. 39), de rectification ou de suppression (art. 40) des donn&eacute;es qui vous concernent. Vous pouvez exercer ce droit en vous adressant au minist&egrave;re de la Transition &eacute;cologique et solidaire. Ce droit s&#39;exerce, en justifiant de son identit&eacute; :</p>

				<ul>
					<li>
						par voie postale : Minist&egrave;re de la Transition &eacute;cologique et solidaire, Direction de l&#39;eau et de la biodiversit&eacute; - Arche Sud 92055 La D&eacute;fense Cedex
					</li>
					<li>
						par le biais du <a href="{{ path('contact') }}">formulaire de contact</a>.
					</li>
				</ul>

				<p>Toutes les donn&eacute;es personnelles qui sont recueillies sont trait&eacute;es avec la plus stricte confidentialit&eacute;. En particulier, le minist&egrave;re de la Transition &eacute;cologique et solidaire s&rsquo;engage &agrave; respecter la confidentialit&eacute; des messages e-mails transmis au moyen d&rsquo;une messagerie &eacute;lectronique.</p>

				<h2>Cookies et statistiques</h2>

				<p>En vue d&rsquo;adapter le site &laquo;&nbsp;url du site&nbsp;&raquo; aux demandes de ses visiteurs, l&rsquo;IGN mesure le nombre de visites, le nombre de pages vues ainsi que l&#39;activit&eacute; des visiteurs sur le site et leur fr&eacute;quence de retour.<br />
					<strong>PIWIK</strong>, l&#39;outil de statistiques utilis&eacute; par l&rsquo;IGN, g&eacute;n&egrave;re un cookie avec un identifiant unique, dont la dur&eacute;e de conservation est limit&eacute;e &agrave; 13 mois. L&rsquo;outil utilis&eacute; collecte &eacute;galement votre adresse IP, afin de d&eacute;terminer la ville depuis laquelle vous vous connectez. Celle-ci est imm&eacute;diatement anonymis&eacute;e apr&egrave;s utilisation.</p>

				<p>L&rsquo;IGN ne peut donc en aucun cas remonter par ce biais &agrave; une personne physique. Les donn&eacute;es recueillies ne sont pas c&eacute;d&eacute;es &agrave; des tiers ni utilis&eacute;es &agrave; d&#39;autres fins.</p>

				<h2>Responsabilit&eacute; du minist&egrave;re</h2>

				<p>Les informations propos&eacute;es sur ce site le sont au titre de service rendu aux adh&eacute;rents du syst&egrave;me d&#39;information sur la nature et les paysages Malgr&eacute; tout le soin apport&eacute; &agrave; l&rsquo;actualisation des textes officiels et &agrave; la v&eacute;rification des contenus, les documents mis en ligne ne sauraient engager la responsabilit&eacute; du minist&egrave;re. Les informations et/ou documents disponibles sur ce site sont susceptibles d&rsquo;&ecirc;tre modifi&eacute;s &agrave; tout moment, et peuvent faire l&rsquo;objet de mises &agrave; jour. Le minist&egrave;re ne pourra en aucun cas &ecirc;tre tenu responsable de tout dommage de quelque nature qu&rsquo;il soit r&eacute;sultant de l&rsquo;interpr&eacute;tation ou de l&rsquo;utilisation des informations et/ou documents disponibles sur ce site.</p>

				<h2>Disponibilit&eacute; du site</h2>

				<p>L&rsquo;&eacute;diteur s&rsquo;efforce de permettre l&rsquo;acc&egrave;s au site 24 heures sur 24, 7 jours sur 7, sauf en cas de force majeure ou d&rsquo;un &eacute;v&eacute;nement hors du contr&ocirc;le du minist&egrave;re de la Transition &eacute;cologique et solidaire, et sous r&eacute;serve des &eacute;ventuelles pannes et interventions de maintenance n&eacute;cessaires au bon fonctionnement du site et des services. Par cons&eacute;quent, le minist&egrave;re de la Transition &eacute;cologique et solidaire ne peut garantir une disponibilit&eacute; du site et/ou des services, une fiabilit&eacute; des transmissions et des performances en termes de temps de r&eacute;ponse ou de qualit&eacute;. Il n&rsquo;est pr&eacute;vu aucune assistance technique vis-&agrave;-vis de l&rsquo;utilisateur que ce soit par des moyens &eacute;lectronique ou t&eacute;l&eacute;phonique. La responsabilit&eacute; de l&rsquo;&eacute;diteur ne saurait &ecirc;tre engag&eacute;e en cas d&rsquo;impossibilit&eacute; d&rsquo;acc&egrave;s &agrave; ce site et/ou d&rsquo;utilisation des services. Le minist&egrave;re de la Transition &eacute;cologique et solidaire peut &ecirc;tre amen&eacute; &agrave; interrompre le site ou une partie des services, &agrave; tout moment sans pr&eacute;avis, le tout sans droit &agrave; indemnit&eacute;s. L&rsquo;utilisateur reconna&icirc;t et accepte que le minist&egrave;re de la Transition &eacute;cologique et solidaire ne soit pas responsable des interruptions, et des cons&eacute;quences qui peuvent en d&eacute;couler pour l&rsquo;utilisateur ou tout tiers.</p>

				<h2>Droit applicable</h2>

				<p>Quel que soit le lieu d&rsquo;utilisation, le pr&eacute;sent site est r&eacute;gi par le droit fran&ccedil;ais. En cas de contestation &eacute;ventuelle, et apr&egrave;s l&rsquo;&eacute;chec de toute tentative de recherche d&rsquo;une solution amiable, les tribunaux fran&ccedil;ais seront seuls comp&eacute;tents pour conna&icirc;tre de ce litige. Pour toute question relative aux pr&eacute;sentes conditions d&rsquo;utilisation du site, vous pouvez &eacute;crire &agrave; l&rsquo;adresse suivante :</p>

				<p>Minist&egrave;re de la Transition  &eacute;logique et solidatire (MTES)<br />
					Direction de l&#39;eau et de la biodiversit&eacute;<br />
					Sous-Direction de la protection et de la valorisation des esp&egrave;ces et de leurs milieux<br />
					Arche Sud - 92055 La D&eacute;fense Cedex</p>

				<h2>Acceptation des conditions d&rsquo;utilisation</h2>

				<p>L&rsquo;utilisateur reconna&icirc;t avoir pris connaissance des conditions d&rsquo;utilisation, au moment de sa connexion vers le site et d&eacute;clare express&eacute;ment les accepter sans r&eacute;serve.</p>

				<h2>Modifications des conditions g&eacute;n&eacute;rales d&rsquo;utilisation</h2>

				<p>Le minist&egrave;re en charge du patrimoine naturel se r&eacute;serve la possibilit&eacute; de modifier, &agrave; tout moment et sans pr&eacute;avis, les pr&eacute;sentes conditions d&rsquo;utilisation afin de les adapter aux &eacute;volutions du site et/ou de son exploitation.</p>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Close'|trans }}</button>
			</div>
		</div>
	</div>
</div>
