{# Main Menu in Navbar #}

{# User is the real user if connected, or the anonymous user 'visiteur' if not #}
{% set user = (app.user) ?: anonymous.user %}

<ul class="nav navbar-nav">

    <li class="active"><a href="{{ path('homepage') }}">{{ 'Menu.Home'|trans }}</a></li>

    {% if user.isAllowed('DATA_QUERY') %}
        <li><a href="{{ path('query_home') }}?SCHEMA=RAW_DATA">{{ 'Menu.RegionalData'|trans }}</a><li>
    {% endif %}

    {% if user.isAllowed('DATA_INTEGRATION') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Menu.Datasets'|trans }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% if (user.isAllowed('MANAGE_DATASETS_OTHER_PROVIDER')) %}
                    <li><a href="{{ path('all_jdd_list') }}">{{ 'Menu.ManageAllDatasets'|trans }}</a></li>
                {% endif %}
                {% if (user.isAllowed('DATA_INTEGRATION')) %}
                    <li><a href="{{ path('user_jdd_list') }}">{{ 'Menu.ManageMyDatasets'|trans }}</a></li>
                    <li><a href="{{ path('jdd_new') }}">{{ 'Menu.ImportDataset'|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}

    {% if user.isAllowed('CONFIGURE_METAMODEL') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Menu.Configurator'|trans }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{{ path('configurateur_model_index') }}">{{ 'Menu.DataModels'|trans }}</a></li>
                <li><a href="{{ path('configurateur_dataset_import_index') }}">{{ 'Menu.ImportModels'|trans }}</a></li>
                <li><a href="{{ path('configurateur_data_index') }}">{{ 'Menu.DataDictionary'|trans }}</a></li>
            </ul>
        </li>
    {% endif %}

    {% if user.isAllowed('MANAGE_USERS') or user.isAllowed('CONFIGURE_WEBSITE_PARAMETERS') %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ 'Menu.Administration'|trans }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                {% if (user.isAllowed('MANAGE_USERS')) %}
                    <li><a href="{{ path('usermanagement_showUsers') }}">{{ 'Menu.Users'|trans }}</a></li>
                    <li><a href="{{ path('usermanagement_showProviders') }}">{{ 'Menu.Providers'|trans }}</a></li>
                    <li><a href="{{ path('usermanagement_showRoles') }}">{{ 'Menu.Roles'|trans }}</a></li>
                {% endif %}
                {% if (user.isAllowed('CONFIGURE_WEBSITE_PARAMETERS')) %}
                    <li><a href="{{ path('configuration_parameters') }}">{{ 'Menu.PlatformParameters'|trans }}</a></li>
					<li><a href="{{ path('taxref_migration') }}">{{ 'Menu.TaxrefMigration'|trans }}</a></li>
                {% endif %}
            </ul>
        </li>
    {% endif %}
</ul>
