{% extends "::base.html.twig" %}

{% block body %}
    <h1>{{ 'User.account.title'|trans }}</h1>

    {% set user = app.user %}

    <div class="row">
        <div class="col-sm-6">
        <h2>{{ 'User.account.infos.title'|trans }}</h2>
        
            <p>{{ 'User.account.infos.description'|trans({'%sitename%': configurationManager.getConfig('site_name', 'GINCO')}) }}</p>

            <table class="table table-nonfluid table-bordered">
            <tr>
                <td><strong>{{ 'Login'|trans }}</strong></td>
                <td>{{ user.login }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'Name'|trans }}</strong></td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td><strong>{{ 'Email'|trans }}</strong> </td>
                <td>{{ user.email }}</td>
            </tr>
            </table>


            <p><a href="{{ configurationManager.getConfig('INPN_account_url','') }}" target="_blank">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    {{ 'User.account.infos.updateLink'|trans }}</a></p>
            <p><a href="{{ path('user_refresh') }}">
                        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                    {{ 'User.account.infos.refreshLink'|trans }}</a></p>
            
            <p class="v-spacer"></p>
            <p>{%trans %}Providers.add.accroche{% endtrans%}</p>
            
            <table class="table table-nonfluid table-bordered">
            <tr>
                <td><strong>{{ 'User.account.infos.provider'|trans }}</strong></td>
                <td>{{ user.provider.label }}</td>
            </tr>
            </table>  
            
            {% if user.isAllowed('MANAGE_OWN_PROVIDER') %}
            
			<p>{%trans %}Providers.add.search{% endtrans%}</p>
		
		    {{ form_start(form) }}
		    <div class="row">
		        <div class="col-sm-3">{{ form_label(form.label) }}</div>
		        <div class="col-sm-6">{{ form_widget(form.label) }}
		            {{ form_errors(form.label) }}</div>
		        <div class="col-sm-3">{{ form_widget(form.submit) }}</div>
		    </div>
		    {{ form_end(form) }}
		    
		    
			<p>{%trans %}Providers.add.more{% endtrans%}</p>
    
    		{% endif %}
    
        </div>

        <div class="col-sm-6">
            <h2>{{ 'User.account.permissions.title'|trans }}</h2>

            <p>{{ 'User.account.permissions.role'|trans }} <strong>{{ user.roles|join(', ') }}</strong>.</p>
            <p>{{ 'User.account.permissions.permissions'|trans }}</p>
            <ul class="triangle-bullets">
            {% set oldPermissionGroup = '' %}
            {% for permission in app.user.permissions %}
            	{% set permissionGroup = permission.group.label %}
            	{% if oldPermissionGroup != permissionGroup %}
            		{% set oldPermissionGroup = permissionGroup %}
            		<br />
            		<strong>{{ permissionGroup }}</strong>
            	{% endif %}
            	
                <li>{{ permission.label }}</li>
            {% endfor %}
            </ul>
            <p>{{ 'User.account.permissions.more'|trans({'%href%': path('contact')})|raw }}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% include '@IgnGinco/UsermanagementController/provider_add.js.twig' %}
		var formField = "#provider_search_label";
        searchOrganisme(formField);
    </script>
{% endblock %}
