<!DOCTYPE html>
<html lang="fr">

<html>
<head>
	<title>{% block title %}Configurateur OGAM{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />

	{% block stylesheets %}
		{% stylesheets
		'@bootstrap_css'
		filter='cssrewrite, yui_css' %}
		<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	{% endblock %}
</head>

<body>
{#== Navbar ==#}
{% block navbar %}
	{{ include('IgnOGAMConfigurateurBundle::navbar.html.twig') }}
{% endblock %}

<div class="container">
	{#== Breadcrumb ==#}
	{% block breadcrumb %}{% endblock %}
</div>

<div class="container" id="main">

	{#== Flash messages ==#}
	{% block flash_messages %}
		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="alert alert-{{ type }} alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					{{ message|trans|raw }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endblock %}

	{#== Main content ==#}
	{% block body %}{% endblock %}
</div>


	{% block javascripts %}
		{% javascripts
			'@jquery_and_bootstrap'
		%}
			<script type="text/javascript" src="{{ asset_url }}"></script>
		{% endjavascripts %}

		{% if app.environment == 'prod' %}
			<script src="{{ asset('bundles/ignogamconfigurateur/js/fos_js_routes.js') }}"></script>
		{% else %}
			<script src="{{ asset('bundles/ignogamconfigurateur/js/fos_js_routes_dev.js') }}"></script>
		{% endif %}

		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	{% endblock %}

	{% block specificjavascripts %}
	{% endblock %}
</body>
</html>