{% extends "::base.html.twig" %}
{% form_theme form with ['form.html.twig', _self] %}

{% block body %}
<h1>{{ 'Data integration module'|trans }} - {{ 'Upload Data'|trans }}<br>
<small>{{ 'Dataset'|trans }} : {{ dataset.label }}</small></h1>

    <ul class="nav nav-tabs">
        <li role="import_format"><a href="{{  path('integration_upload_data',{'id': id}) }}">{{ 'import.format.csv'|trans }}</a></li>
        <li role="import_format" class="active"><a href="#">{{ 'import.format.shp.label'|trans }}</a></li>
    </ul>

{% set showModel = configurationManager.getConfig('showUploadFileModel', 0) != 0  %}

<div class="{{ form.vars.name }}">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {% for child in form.children %}
            {{ form_row(child, {'showModel': showModel, 'files': files}) }}
        {% endfor %}
    {{ form_end(form) }}
</div>
    
{% endblock %}
