{% extends "::base.html.twig" %}
{% form_theme form with ['form.html.twig', _self] %}

{% block body %}
<h1>{{ 'Data integration module'|trans }} - {{ 'Upload Data'|trans }}<br>
<small>{{ 'Dataset'|trans }} : {{ dataset.label }}</small></h1>

    <ul class="nav nav-tabs">
        <li role="import_format" class="active"><a href="#">{{ 'import.format.csv'|trans }}</a></li>
        <li role="import_format"><a href="{{  path('import_shapefile',{'id': id}) }}">{{ 'import.format.shp.label'|trans }}</a></li>
    </ul>

{% set showModel = configurationManager.getConfig('showUploadFileModel', 0) != 0  %}

<div class="{{ form.vars.name }}">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {% for child in form.children %}
            {{ form_row(child, {'showModel': showModel, 'showDetail': showDetail, 'files': files}) }}
        {% endfor %}
    {{ form_end(form) }}
</div>

{% endblock %}

{% block _upload_data_fileformat_widget %}
    {% set file = files[name] %}
    {{ form_widget(form) }}
    {{ showModel ? block('filemodel') }}
{% endblock %}

{% block filemodel %}
    <p class="help-block">
        <a href="#" onclick="window.location='{{ path('integration_exportfilemodel') ~ '?fileFormat=' ~ file.format }}';">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            {{ 'Download a file model for'|trans ~ ' "' ~ file.label ~ '"'}}
        </a>
    </p>
{% endblock %}

{% block _upload_data_SRID_widget %}
    {{ form_widget(form) }}
    <div class="help-block">
        <span>{{ 'sridDescription'|trans|raw }}</span>
    </div>
{% endblock %}

{% block form_group_class -%}
    col-sm-8
{%- endblock form_group_class %}
