{# One line for displaying submissions in a table #}
{# Variables : submission #}


{% if submission is not defined %}
    {# Headline #}
    <tr>
        <th>{{ 'Submission ID'|trans }}</th>
        <th>{{ 'Date'|trans }}</th>
        <th style="width: 18%";>{{ 'Jdd.list.provider'|trans }} / {{ 'Jdd.list.user'|trans }}</th>
        <th>{{ 'Dataset'|trans }}</th>
        <th>{{ 'Step'|trans }}</th>
        <th>{{ 'Status'|trans }}</th>
        <th>{{ 'IntegrationPage.FilesAndLines'|trans }}</th>
        <th style="width: 12%";>{{ 'Actions'|trans }}</th>
    </tr>

{% else %}
    {# Real submission line #}
    <tr>
        <td>{{ submission.id }}</td>
        <td>{{ submission.creationDate|date("Y-m-d") }}</td>
        <td>
            <p>{{ submission.provider.label }}</p>
            <p>{{ submission.user.username }}</p>
        </td>
        <td>{{ submission.dataset is not null ? submission.dataset.label : 'IntegrationPage.NoDataset'|trans }}</td>
        {# Step: we group steps INSERT and CHECK because we don't use CHECK IN Ginco #}
        <td>
            {% if submission.step in ['INIT'] %}
                {{ 'Submission.step.init'|trans }}
            {% elseif submission.step in ['INSERT', 'CHECK'] %}
                {{ 'Submission.step.insert'|trans }}
            {% elseif submission.step in ['VALIDATE'] %}
                {{ 'Submission.step.validate'|trans }}
				<p>{{ submission.validationDate | date('Y-m-d H:i:s') }}</p>
            {% elseif submission.step in ['CANCEL'] %}
                {{ 'Submission.step.cancel'|trans }}
            {% else %}
                {{ submission.step }}
            {% endif %}
        </td>
        {# Status -- see integration-progress-bars.js.twig #}
        <td>
            <div class="integration-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>
            <div class="integration-progress hidden">
                <div>{{ 'IntegrationPage.import.running'|trans }}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        0%
                    </div>
                </div>
            </div>
            <div class="integration-content" data-target="{{ submission.id }}">
                {% if submission.status in ['OK','CHECK'] %}
                    <span class="glyphicon glyphicon-ok color-success" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                {% elseif submission.status in ['WARNING'] %}
                    <span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                {% elseif submission.status in ['ERROR'] %}
                    <span class="glyphicon glyphicon-remove color-danger" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                {% endif %}
            </div>
        </td>

        {# Files #}
        <td>
            {% for file in submission.files %}
                {% set filename = file.fileName|trim|pathinfo_filename %}
                <div class="submission-line-lines">({{file.nbLines}})</div>
                <div title="{{ filename }}" class="submission-line-file-name longtext oneline">{{ filename }}</div>
            {% endfor %}
        </td>

        {# Actions #}
        <td>
            {%  include "@IgnGinco/Integration/submission_actions.html.twig" %}
        </td>
    </tr>
{% endif %}