{# One line for displaying submissions inside a cell of table  #}
{# Variables : submission #}

{% if submission is not defined %}
    {# Headline #}
    <div class="submission-line">
        {# File and lines #}
        <div class="file">{{ 'IntegrationPage.File'|trans }}</div>
        <div class="lines">{{ 'Lines'|trans }}</div>
        <div class="status" >{{ 'Status'|trans }}</div>
        <div class="reports">{{ 'Report.Reports'|trans }}</div>
        <div class="actions">{{ 'Actions'|trans }}</div>
    </div>

{% else %}
    {# Real submission line #}
    <div class="submission-line">
        {# File and lines #}
        <div class="file">
            {% for file in submission.files %}
                <div class="longtext">{{ file.fileName|replace({'\\':'/'})|split('/')|last|split('.')|first }}</div>
            {% endfor %}
        </div>
        <div class="lines">
            {% for file in submission.files %}
                <div>{{ file.nbLines }}</div>
            {% endfor %}
        </div>
        {# Status -- see integration-progress-bars.js.twig #}
        <div class="status" >
            <div class="integration-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>

            <div class="integration-progress hidden">
                <div>{{ 'IntegrationPage.import.running'|trans }}</div>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        0%
                    </div>
                </div>
            </div>
            <div class="integration-content" data-target="{{ submission.id }}"
                {% if submission.status in ['OK','CHECK'] %}
                    ><span class="glyphicon glyphicon-ok color-success" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                {% elseif submission.status in ['WARNING'] %}
                    ><span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                {% elseif submission.status in ['ERROR'] %}
                    ><span class="glyphicon glyphicon-remove color-danger" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                {% elseif submission.step in ['CANCEL'] and submission.status in ['RUNNING'] %}
                    title="{% trans with {'%submissionId%': submission.id}%}IntegrationPage.cancel.running.tooltip{% endtrans %}"><span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;
                    {% trans %}IntegrationPage.cancel.running.text{% endtrans %}
                {% else %}
                    >
                {% endif %}
            </div>
        </div>
        {# Reports #}
        <div class="reports">
            {%  include "@IgnGinco/Integration/submission_reports.html.twig" %}
        </div>
        {# Actions #}
        <div class="actions">
            {%  include "@IgnGinco/Integration/submission_actions.html.twig" %}
        </div>
    </div>
{% endif %}
