{# Block for displaying available actions and reports for a submissions #}
{# Variables : submission #}
{% if submission is defined %}

    {# Publish (Validate) or Unpublish (invalidate) submission #}
    {% set publish = false %}
    {% set unpublish = false %}
    {% set remove = false %}
    {% if ((submission.step is constant('STEP_INSERTED', submission) and submission.status is constant('STATUS_OK', submission))
    or (submission.step is same as('CHECK') and (submission.status is same as("OK") or submission.status is same as('WARNING')))) %}
        {% set publish = true %}
    {% endif %}
    {% if (submission.step is same as('VALIDATE') and (submission.status is same as("OK") or submission.status is same as('WARNING'))) %}
        {% set unpublish = true %}
    {% endif %}

    {# Cancel submission #}
    {% set notValidateCancel = (submission.step != "VALIDATE" and submission.step != "CANCEL") %}
    {% set allowedOwnCancel = user.isAllowed('CANCEL_VALIDATED_SUBMISSION') and submission.provider.id is same as (user.provider.id) %}
    {% set allowedOtherCancel = user.isAllowed('CANCEL_OTHER_PROVIDER_SUBMISSION') %}
    {% if notValidateCancel and (allowedOwnCancel or allowedOtherCancel) %}
        {% set remove = true %}
    {% endif %}
    <div class = "btn-group">
        {% if publish %}
            <a class="btn btn-xs btn-success" href="{{ path('integration_validate',{'submissionId': submission.id}) }}" title="{{ 'Confirm submission'|trans }}"
               onClick="return confirm('{{ 'Confirm_submission_warning'|trans }}');">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
             </a>
        {% elseif unpublish %}
             <a class="btn btn-xs btn-warning" href="{{ path('integration_invalidate',{'submissionId': submission.id}) }}" title=" {{ 'Invalidate submission'|trans }}"
                onClick="return confirm('{{ 'Confirm_invalidation_warning'|trans }}');">
                 <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
             </a>
        {% else %}
             <a class="btn btn-xs btn-default" title="{{ 'Submission.publish.impossible'|trans }}">
                <span class="glyphicon glyphicon-play" data-toggle="modal" data-target="#modal-impossible-publish-submission-{{ submission.id }}" aria-hidden="true"></span>
             </a>
        {% endif %}
        <div class="integration-cancel-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>
        <a id="integration-cancel-link-{{ submission.id }}" title="{{ 'Cancel Submission'|trans }}"
            {% if remove %}
                class="btn btn-xs btn-danger" href="{{ path('integration_cancel', {'submissionId': submission.id}) }}" onClick="return confirm('{{'Are you sure?'|trans }}')"
            {% else %}
                class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal-impossible-delete-submission-{{ submission.id }}"
            {% endif %}
            >
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
        </a>

        <!-- Modal - Publish file impossible -->
        <div class="modal fade" id="modal-impossible-publish-submission-{{ submission.id }}"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ 'Submission.publish.impossible'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal - Delete file impossible -->
        <div class="modal fade" id="modal-impossible-delete-submission-{{ submission.id }}"
             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ 'Submission.delete.impossible'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
        {# Reports #}
        {% set filenameMaxLength = 18 %}
        {% set integrationDisabled = true %}
        {% set sensitiveDisabled = true %}
        {% set permanentDisabled = true %}
        {% set unstableSteps = [
            constant('STEP_CANCELLED', submission),
            constant('STATUS_RUNNING', submission),
            constant('STEP_INIT', submission)
        ] %}
        {% if submission.step not in unstableSteps %}
            {% set integrationDisabled = false %}
            {% if submission.status is constant('STATUS_OK', submission) %}
                {% set permanentDisabled = false %}
                    {% if user.isAllowed('VIEW_SENSITIVE') %}
                        {% set sensitiveDisabled = false %}
                    {% endif %}
            {% endif %}
        {% endif %}

        <div class = "btn-group">
        <button type="button" class="btn btn-default dropdown-toggle btn-xs" data-toggle="dropdown">
            Rapports<span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropup" role ="menu">
            <li>
             	<a class="btn {{ integrationDisabled ? 'disabled'}} btn-xs"
                   title="{{ integrationDisabled ? 'Report.Integration.DisabledTitle'|trans : 'Report.Integration.Title'|trans }}"
                    {% if not integrationDisabled %}
                        href="{{ path('download-report', {'submissionId': submission.id , 'report': 'integrationReport'}) }}">
                    {% else %} href="">
                    {% endif %}
                    {{ 'Report.Integration.Title'|trans }}
                </a>
            
            </li>
            <li>
				
                   <a class="btn {{ sensitiveDisabled ? 'disabled'}} btn-xs"
                    title="{{ sensitiveDisabled ? 'Report.Sensitivity.DisabledTitle'|trans : 'Report.Sensitivity.Title'|trans }}"
                    {% if not sensitiveDisabled %}
                       href="{{ path('download-report', {'submissionId': submission.id, 'report': 'sensibilityReport'}) }}">
                    {% else %} href="">
                    {% endif %}
                    {{ 'Report.Sensitivity.Title'|trans  }}
                     </a>

                    
               
            </li>
            <li>
                <a  class="btn  {{ permanentDisabled ? 'disabled'}} btn-xs" 
                    title="{{ permanentDisabled ? 'Report.PermanentIds.DisabledTitle'|trans : 'Report.PermanentIds.Title'|trans }}"
                    {% if not permanentDisabled %}
                      href="{{ path('download-report', {'submissionId': submission.id, 'report': 'permanentIdsReport'}) }}">
                    {% else %} href="">
                    {% endif %}
                    {{ 'Report.PermanentIds.Title'|trans }}
                </a>
            </li>
        </ul>
        </div>
    </div>
{% endif %}