{% extends "::base.html.twig" %}

{% block body %}

<h1>{% trans %}Check result{% endtrans %}</h1>
<div class="checkconf-page">
<h2>{% trans %}PHP Parameters{% endtrans %}</h2>
<ul>
{% for param in phpParameters %} 

    <li>
    	<b>{{ param.name }}&nbsp;:</b>&nbsp;{% trans %}Expected value{% endtrans %}&nbsp;{{ param.value}}
    	{% if (param.error is defined) %}
        	<span class="red">&nbsp;-&nbsp;'.{{ param.error }}</span><br/>
    	{% else %}
        	<span class="green">&nbsp;-&nbsp;ok</span><br/>
    	{%  endif %}
    </li>
{%  endfor %}
</ul>


<h2>{% trans %}Database{% endtrans %}</h2>
<span class="note">
    {% trans %}Note: The database user must have administration rights to perform these tests.{% endtrans %}   
</span>


<h4>{% trans %}Checking for missing schemas:{% endtrans %}</h4>
<ul>
{% for msg in missingSchemasMsg %} 
	<li><span class="red">{{ msg }}</span></li>
{%  else %}
	<li><span class="green">ok</span></li>
{%  endfor %}
</ul>


<h4>{% trans %}Checking for missing tables:{% endtrans %}</h4>
<ul>
{% for msg in missingTablesMsg %} 
	<li><span class="red">{{ msg }}</span></li>
{%  else %}
	<li><span class="green">ok</span></li>
{%  endfor %}
</ul>



<h4>{% trans %}Checking for primary keys:{% endtrans %}</h4>
<ul>
{% for msg in primaryKeysMsg %} 
	<li><span class="red">{{ msg }}</span></li>
{%  else %}
	<li><span class="green">ok</span></li>
{%  endfor %}
</ul>


<h4>{% trans %}Checking for missing fields:{% endtrans %}</h4>
<ul>
{% for msg in missingFieldsMsg %} 
	<li><span class="red">{{ msg }}</span></li>
{%  else %}
	<li><span class="green">ok</span></li>
{%  endfor %}
</ul>


<h4>{% trans %}Checking field types:{% endtrans %}</h4>
<ul>
{% for msg in fieldTypeMsg %} 
	<li><span class="red">{{ msg }}</span></li>
{%  else %}
	<li><span class="green">ok</span></li>
{%  endfor %}
</ul>



<h4>{% trans %}Checking foreign keys:{% endtrans %}</h4>
<ul>
{% for msg in missingFKsMsg %} 
	<li><span class="red">{{ msg }}</span></li>
{%  else %}
	<li><span class="green">ok</span></li>
{%  endfor %}
</ul>




</div>

{% endblock %}

{% block javascripts %}
{% endblock %}