{% extends "OGAMBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    {% trans %}Password_forgotten{% endtrans %}
{% endblock -%}

{%- block email_body_text %}
    {% autoescape true %}
Hello {{ user.username }},

Vous nous avez demandé à réinitialiser votre mot de passe.

Pour créer un nouveau mot de passe, cliquez sur le lien ci-dessous:
{{ url('user_validateForgottenPassword') }}?login={{ user.login }}&activationCode={{ user.activationCode }}

Cordialement.

Informatique et libertés
La collecte des informations personnelles issues des sites de l'inventaire est uniquement destinée à mieux vous servir. L’IGN s’engage à ne transmettre ses données à aucun tiers conformément aux recommandations de la Commission nationale de l’informatique et des libertés.<br/>
Droits et obligations expliqués par la CNIL : http://www.cnil.fr

    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        Hello {{ user.username }},<br/>
        <br/>
        Vous nous avez demandé à réinitialiser votre mot de passe.<br/>
        <br/>
        Pour créer un nouveau mot de passe, cliquez sur le lien ci-dessous:<br/>
        <a href="{{ url('user_validateForgottenPassword') }}?login={{ user.login }}&activationCode={{ user.activationCode }}">{{ url('user_validateForgottenPassword') }}?login={{ user.login }}&activationCode={{ user.activationCode }}</a>
        <br/>
        Cordialement.<br/>
        <br/>
        Informatique et libertés<br/>
        La collecte des informations personnelles issues des sites de l'inventaire est uniquement destinée à mieux vous servir. L’IGN s’engage à ne transmettre ses données à aucun tiers conformément aux recommandations de la Commission nationale de l’informatique et des libertés.<br/>
        Droits et obligations expliqués par la CNIL : <a href="http://www.cnil.fr">http://www.cnil.fr</a><br/>
    {% endautoescape %}
{% endblock -%}
