{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}
   {{ title }}
{% endblock title %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ path('homepage') }}">{%trans %}breadcrumb.home{% endtrans %}</a></li>
        <li><a href="{{ path('configurateur_homepage') }}">{%trans %}breadcrumb.configurator{% endtrans %}</a></li>
        <li><a href="{{ path('configurateur_data_index') }}">{%trans %}breadcrumb.data.index{% endtrans %}</a></li>
        <li class="active">{% trans %}breadcrumb.data.new{% endtrans %}</li>
    </ol>
{% endblock breadcrumb %}

{% block body %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 id="panel-title" class="panel-title">{{ title }}</h3>
    </div>
    <div class="panel-body">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    {{ include('IgnOGAMConfigurateurBundle::preventclosing.html.twig') }}
{% endblock javascripts%}

{% block specificjavascripts %} {% endblock specificjavascripts%}
