{# Auto Mapping form and flash notice (auto-mapping report) #}

<h4>{{ 'fieldMapping.auto.title'|trans }}</h4>

{# Specific flash notices for auto-mapping #}
{% for flashMessage in app.session.flashbag.get('notice-automapping') %}
    <div class="alert alert-success">{{ flashMessage|raw }}</div>
{% endfor %}
{% for flashMessage in	app.session.flashbag.get('error-automapping') %}
    <div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}

{# Inline form...#}
{{ form_start(autoMappingForm, {attr: {class: 'form-inline'}}) }}
{{ form_row(autoMappingForm.dst_format) }}
{{ form_row(autoMappingForm.submit, {attr: {class: 'btn btn-default'}}) }}
{{ form_end(autoMappingForm) }} {# todo : pquoi la classe btn-btn-primary se rajoute toute seule au bouton submit ??? #}