<div id="anchorMapping" class="row">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 id="panel-title" class="panel-title">{{
				'fieldMapping.CSVMapping'|trans({'%file.label%': file.label}) }}</h3>
		</div>

		<div class="panel-body">
			{% if fieldMapping is defined and fieldMapping|length > 0 %}
				<table id="mappingRelations" data-toggle="table" {{ (fieldMapping|length > 10) ? 'data-height="440"' }}
				   class="table table-hover table-condensed">
				<thead>
					<tr>
						<th>{{ 'fieldMapping.rule'|trans }}
						</th>
					</tr>
				</thead>

				{% for mapping in fieldMapping %}
				<tr>
					<td class="row">
						<div class="col-sm-2">{{ 'fieldMapping.copy'|trans }}</div>
						<div class="col-sm-3 longtext" title="{{ mapping.srcDataLabel }}">{{ mapping.srcDataLabel }}</div>
						<div class="col-sm-1">{{ 'fieldMapping.in'|trans }}</div>
						<div class="col-sm-3 longtext" title="{{ mapping.label }}">{{ mapping.label }}</div>
						<div class="col-sm-3 longtext" title="{{ mapping.dstDataLabel is defined ? mapping.dstDataLabel : mapping.dstData }}">{{  mapping.dstDataLabel is defined ? mapping.dstDataLabel : mapping.dstData  }}</div>
					</td>

				</tr>
				{% endfor %}
			</table>
			{% else %}
				<p>{{ 'fieldMapping.none'|trans }}</p>
			{% endif %}
		</div>
	</div>
</div>