{% extends "::base.html.twig" %}

{% block body %}

<h1>{% trans %}Users{% endtrans %}</h1>

{% if users|length > 0 %}

	<table	id="users-table" data-toggle="table"
			data-sort-name="created" data-sort-order="desc"
			data-click-to-select="true" data-search="true" data-search-align="right"
			data-maintain-selected = "true" data-classes="table table-hover table-condensed"
			data-locale="fr-FR" data-pagination="true" data-page-list="[10, 25, 50, 100, 500, 1000]" 
			data-advanced-search="true" data-id-table="advancedTable" 
			data-show-export="true" data-export-types="['csv']">
		<thead>
			<tr>
				<th data-field="login" data-sortable="true">{% trans %}User Login{% endtrans %}</th>
				<th data-field="username" data-sortable="true">{% trans %}User Name{% endtrans %}</th>
				<th data-field="label" data-sortable="true">{% trans %}Provider{% endtrans %}</th>
				<th data-field="email" data-sortable="true">{% trans %}Email{% endtrans %}</th>
				<th data-field="roles" data-sortable="true">{% trans %}Roles{% endtrans %}</th>
				<th data-field="created" data-visible="false" data-searchable="false"></th>
				<th data-sortable="true" data-sort-name="created">{% trans %}User.edit.created{% endtrans %}</th>
				<th data-field="lastlogin" data-visible="false" data-searchable="false"></th>
				<th data-sortable="true" data-sort-name="lastlogin">{% trans %}User.edit.lastLogin{% endtrans %}</th>
				<th data-searchable="false" data-width="85px">{% trans %}Actions{% endtrans %}</th>
			</tr>
		</thead>

		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.login }}</td>
				<td>{{ user.username }}</td>
				<td>{% if user.provider.id is defined %}{{ user.provider.label }}{% endif %}</td>
				<td>{{ user.email }}</td>
				<td>
					{% for role in user.roles %}
						{{ role.label }}<br/>
					{% endfor %}
				</td>
				{# Date and last login, both invisible and visible #}
				<td>{{ user.createdAt|date('Y-m-d H:i:s') }}</td>
				<td>
					{% if user.createdAt|date("Y-m-d") == "now"|date("Y-m-d") %}
						{{ user.createdAt|date('H:i:s') }}
					{% else %}
						{{ user.createdAt|date('d/m/Y') }}
					{% endif %}
				</td>
				<td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '0000-00-00 00:00:00' }}</td>
				<td>
					{% if not user.lastLogin %}
						{{ 'Never'|trans }}
					{% elseif user.lastLogin|date("Y-m-d") == "now"|date("Y-m-d") %}
						{{ user.lastLogin|date('H:i:s') }}
					{% else %}
						{{ user.lastLogin|date('d/m/Y') }}
					{% endif %}
				<td>

				{# Actions #}
				{% if isDeletableUser[user.login] %}
					<a role="button" class="btn btn-sm btn-success" title="{{ 'User.edit.roles'|trans }}" href="{{ path('usermanagement_editUser', {'login' : user.login}) }}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</a>
					<button class="btn btn-sm btn-danger" title="{{ 'Delete'|trans }}"
							data-toggle="modal" data-target="#modal-delete-user" data-user-login="{{ user.login }}">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>

				{% else %}
					<button class="btn btn-sm btn-default btn-disabled" title="{{ 'User.edit.roles'|trans }}"
							data-toggle="modal" data-target="#modal-impossible-edit-user" data-user-login="{{ user.login }}">
						<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					</button>

					<button class="btn btn-sm btn-default btn-disabled" title="{{ 'Delete'|trans }}"
							data-toggle="modal" data-target="#modal-impossible-delete-user" data-user-login="{{ user.login }}">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					</button>
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p>{% trans %}User.no_users{% endtrans %}</p>
{% endif %}


<!-- Modal - Delete user -->
<div class="modal fade" id="modal-delete-user"
	 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				{% trans with {'%userLogin%': '<span class="user-login-placeholder"></span>'} %} User.delete.prompt {% endtrans %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
						data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
				<a type="button" class="btn btn-primary user-delete-link" href="">
					{% trans %}Continue{% endtrans %} </a>
			</div>
		</div>
	</div>
</div>

<!-- Modal - Edit user Impossible -->
<div class="modal fade" id="modal-impossible-edit-user"
	 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				{% trans with {'%username%': '<span class="user-login-placeholder"></span>'} %} User.edit.impossible {% endtrans %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
						data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
			</div>
		</div>
	</div>
</div>


<!-- Modal - Delete user Impossible -->
<div class="modal fade" id="modal-impossible-delete-user"
	 tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				{% trans with {'%username%': '<span class="user-login-placeholder"></span>'} %} User.delete.impossible {% endtrans %}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
						data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
			</div>
		</div>
	</div>
</div>

<p>
    <a href="{{ path('usermanagement_addUser') }}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create User{% endtrans %}</a>
<p/>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script>

$(function() {

	// Pass data to bootstrap modals
	$("#modal-delete-user, #modal-impossible-delete-user, #modal-impossible-edit-user").on('show.bs.modal', function(e) {
		//get data-id attribute of the clicked element
		var userLogin = $(e.relatedTarget).data('user-login');
        var deleteLink = '{{ path('usermanagement_deleteUser', {'login' : '@userLogin@'}) }}'.replace('@userLogin@', encodeURIComponent(userLogin));
        // Replace by actual userLogin value
		$(e.currentTarget).find('.user-login-placeholder').html(userLogin);
		$(e.currentTarget).find('a.user-delete-link').attr("href", deleteLink);
	});
});

	</script>
{% endblock %}

{% block specificjavascripts %}
	<script src="//rawgit.com/hhurz/tableExport.jquery.plugin/master/tableExport.js"></script>
{% endblock %}