{% extends "::base.html.twig" %}

{% block body %}

<h1>{{ 'Users and content for provider:'|trans }} {{ provider.label }}</h1>

<h2>{{ 'Users'|trans }}</h2>

{% if users|length > 0 %}
	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}User Login{% endtrans %}</th>
				<th>{% trans %}User Name{% endtrans %}</th>
				<th>{% trans %}Email{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.login }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p class="subTableLink">{% trans %}This provider doesn't have any users.{% endtrans %}</p>
{% endif %}

<h2>{{ 'Submissions'|trans }}</h2>

{% if submissions|length > 0 %}
	<table>
        <thead>
            <tr>
                <th>{% trans %}Submission ID{% endtrans %}</th>
                <th>{% trans %}Date{% endtrans %}</th>
                <th>{% trans %}Dataset{% endtrans %}</th>
                <th>{% trans %}Step{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}File{% endtrans %}</th>
                <th>{% trans %}Lines{% endtrans %}&nbsp;</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for submission in submissions %}
                <tr>
                    <td>{{ submission.id }}</td>
                    <td>{{ submission.creationDate|date("Y/m/d") }}</td>
                    <td>{{ submission.dataset.id }}</td>
                    <td>{{ submission.step }}</td>
                    <td>
                        {{ submission.status }}
                        {% if submission.status == "OK" or submission.status == "CHECK" %}
                            {% image '@OGAMBundle/Resources/public/img/Green_tick.png' %}
                                <img src="{{ asset_url }}"/>
                            {% endimage %}
                        {% elseif  submission.status == "WARNING" %}
                            {% image '@OGAMBundle/Resources/public/img/warning_orange.png' %}
                                <img src="{{ asset_url }}"/>
                            {% endimage %}
                        {% elseif  submission.status == "RUNNING" %}

                        {% else %}
                            <!-- "ERROR" or "CRASH" -->
                            {% image '@OGAMBundle/Resources/public/img/Red_x.png' %}
                                <img src="{{ asset_url }}"/>
                            {% endimage %}
                        {% endif %}
                    </td>
                    <td colspan=2>
                        {% if submission.status != "DATARUNNING" %}
                            <table width="100%">
                                {% for file in submission.files %}
                                    <tr>
                                        <td class="file-name">
                                            <span title="{{ file.fileType }}">{{ file.fileName|split('/')|last }}</span>
                                        </td>
                                        <td class="line-number">{{ file.nbLines }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
	</table>
{% else %}
	<div class="no-submission">{% trans %}No submission found{% endtrans %}</div>
{% endif %}
{% endblock %}
