{% extends "::base.html.twig" %}

{% block body %}

<h1><small>{{ 'Users and content for provider:'|trans }}</small><br> {{ provider.label }}</h1>

<table class="table table-nonfluid table-bordered">
    <tr>
        <td><strong>{{ 'Providers.id'|trans }}</strong></td>
        <td>{{ provider.id }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'Providers.name'|trans }}</strong></td>
        <td>{{ provider.label }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'Providers.uuid'|trans }}</strong></td>
        <td>{{ provider.uuid }}</td>
    </tr>
    <tr>
        <td><strong>{{ 'Providers.description'|trans }}</strong></td>
        <td>{{ provider.definition }}</td>
    </tr>
</table>

<p><a href="{{ path('provider_refresh', {'id': provider.id})  }}">
        <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
        {{ 'Providers.refresh_link'|trans }}</a></p>


<h2>{{ 'Users'|trans }}</h2>

{% if users|length > 0 %}
	<table class="table">
		<thead>
			<tr>
				<th>{% trans %}User Login{% endtrans %}</th>
				<th>{% trans %}User Name{% endtrans %}</th>
				<th>{% trans %}Email{% endtrans %}</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.login }}</td>
					<td>{{ user.username }}</td>
					<td>{{ user.email }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% else %}
	<p class="subTableLink">{% trans %}This provider doesn't have any users.{% endtrans %}</p>
{% endif %}

<h2>{{ 'Submissions'|trans }}</h2>

{% if submissions|length > 0 %}
    <!-- Show all the submissions -->
    <table class="table">
        <thead>
        <tr>
            <th>{{ 'Submission ID'|trans }}</th>
            <th>{{ 'Date'|trans }}</th>
            <th>{{ 'User'|trans }}</th>
            <th>{{ 'Dataset'|trans }}</th>
            <th>{{ 'Step'|trans }}</th>
            <th>{{ 'Status'|trans }}</th>
            <th>{{ 'IntegrationPage.File'|trans }} ({{ 'Lines'|trans }})</th>
        </tr>
        </thead>
        <tbody>
        {% for submission in submissions %}
            <tr>
                <td>{{ submission.id }}</td>
                <td>{{ submission.creationDate|date("Y-m-d") }}</td>
                <td>{{ submission.user.username }}</td>
                <td>{{ submission.dataset.label }}</td>
                <td>{{ submission.step }}</td>
                {# Status #}
                <td>
                    {% if submission.status in ['OK','CHECK'] %}
                        <span class="glyphicon glyphicon-ok color-success" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                    {% elseif submission.status in ['WARNING'] %}
                        <span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                    {% elseif submission.status in ['RUNNING'] %}
                        <div class="tempStatusDiv" id="tempStatusDiv_{{ submission.id }}">
                            {{ include('OGAMBundle::integration_script.html.twig') }}
                        </div>
                    {% else %}
                        <span class="glyphicon glyphicon-remove color-danger" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                    {% endif %}
                </td>
                {# File and lines #}
                <td>
                    {% if submission.status not in ['RUNNING'] %}
                        {% for file in submission.files %}
                            <div>{{ file.fileName|replace({'\\':'/'})|split('/')|last }}
                                ({{ file.nbLines }})
                            </div>
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
	<div class="no-submission">{% trans %}No submission found{% endtrans %}</div>
{% endif %}

<h2>{% trans %}Providers.detail.Jdd{% endtrans %}</h2>

{% if jddInfos|length > 0 %}
    <!-- Show all the submissions -->
    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Providers.detail.JddIdentifiant{% endtrans %}</th>
            <th>{% trans %}Providers.detail.JddTitle{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for jddInfo in jddInfos %}
       		{% if jddInfo.key == 'metadataId' %}
       		    <tr>
       		        <td>{{ jddInfo.value }}</td>
       		{% endif %} 
            {% if jddInfo.key == 'title' %}
                    <td>{{ jddInfo.value }}</td>
       		    </tr>
       		{% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
	<div class="no-submission">{% trans %}Providers.detail.noJddFound{% endtrans %}</div>
{% endif %}
{% endblock %}
