{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %}

{% block title %}
	{% trans %}File Format Edition{% endtrans %}
{% endblock %}

{% form_theme fieldMappingForm 'bootstrap_3_layout.html.twig' %}

{% block body %}
<div class="container">

	<div class="row">

		<p class="help pull-right">
			<a target="_blank" href="{{ constant('Ign\\Bundle\\OGAMConfigurateurBundle\\Constants\\Constants::DOCUMENTATION_URL') }}/configurateur/modele-d-import.html">
				<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
				Aide sur les modèles d'import
			</a>
		</p>

		<ol class="breadcrumb">
			<li><a href="{{ path('configurateur_homepage') }}">{%trans
					%}breadcrumb.home{% endtrans %}</a></li>
			<li><a href="{{ path('configurateur_dataset_import_index') }}">{%trans
					%}breadcrumb.importmodel.index{% endtrans %}</a></li>
			<li><a href="{{ path('configurateur_dataset_import_edit', {'id' : dataset.id}) }}"> {%trans
					with {'%modelName%': dataset.label}%}breadcrumb.importmodel.edit{%
					endtrans %}</a></li>
			<li class="active">{% trans with {'%fileName%':
				file.label}%}breadcrumb.file.edit{% endtrans %}</li>
		</ol>
	</div>

	<div class="row">
		{# Flash messages #} {% for flashMessage in
		app.session.flashbag.get('notice') %}
		<div class="alert alert-success">{{ flashMessage }}</div>
		{% endfor %} {% for flashMessage in app.session.flashbag.get('error')
		%}
		<div class="alert alert-danger">{{ flashMessage }}</div>
		{% endfor %}
	</div>

	<div id="anchorMapping" class="row">
		<div class="panel panel-primary with-nav-tabs">
			<div class="panel-heading clearfix">
				<div class="pull-left">
					{# Title #}
					<h3 id="panel-title" class="panel-title">
						{% trans with {'%file.label%': file.label, '%dataset.label%' : dataset.label} %}file.edit.title{% endtrans %}
					</h3>
				</div>
				<div class="pull-right">
					{# Navigation Tabs #}
					<ul class="nav nav-tabs">
						<li><a href="{{ path('configurateur_file_edit',{ 'datasetId' : dataset.id, 'format': file.format} ) }}">{% trans %}Edit{% endtrans %}</a></li>
						<li ><a href="{{ path('configurateur_file_fields',{ 'datasetId' : dataset.id, 'format': file.format} ) }}">{% trans %}Gérer les Champs{% endtrans %}</a></li>
						<li class="active" ><a href="#">{% trans %}Gérer les Mappings{% endtrans %}</a></li>
					</ul>
				</div>
			</div>
			<div class="panel-body">
				{{ include('IgnOGAMConfigurateurBundle:FieldMapping:list.html.twig') }}
			</div>

			<div class="panel-body">
				{{ include('IgnOGAMConfigurateurBundle:FieldMapping:manual_mapping.html.twig') }}
				{{ include('IgnOGAMConfigurateurBundle:FieldMapping:auto_mapping.html.twig') }}
			</div>

		</div>
	</div>

	<!-- General page buttons -->
	<div class="row">
		<p>
			<!-- "Return to import model" button -->
			{% if fieldMapping is defined and fieldMapping|length == 0 %}
			<!-- With confirmation modal because no data mapped -->
			<a type="button" class="btn btn-default" data-toggle="modal"
				data-target="#returnModal"> <span
				class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> {%
				trans %}importmodel.back.button{% endtrans %}
			</a>
			<!-- Confirmation Modal -->
			<div class="modal fade" id="returnModal" tabindex="-1" role="dialog"
				aria-labelledby="returnModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-body">{% trans %}importmodel.back.warning{%
							endtrans %}</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">{%
								trans %}Cancel{% endtrans %}</button>
							<a type="button" class="btn btn-primary"
								href="{{ path('configurateur_dataset_import_edit', {'id' : dataset.id}) }}">
								{% trans %}Confirm{% endtrans %} </a>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<!-- Without confirmation modal -->
			<a type="button" class="btn btn-default"
				href="{{ path('configurateur_dataset_import_edit', {'id' : dataset.id}) }}">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
				{% trans %}importmodel.back.button{% endtrans %}
			</a>
			{% endif %}
		</p>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	{{ include('IgnOGAMConfigurateurBundle::preventclosing.html.twig') }}
	{{ include('IgnOGAMConfigurateurBundle::field_mapping_script.html.twig') }}
{% endblock %}

