{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    Nouveau message de contact - {{ subject|trans }}
{% endblock -%}

{%- block email_body_text %}
    {% autoescape %}
        {{ site_name }}
        ---------------------------------------------
        Message envoyé via le formulaire de contact :
        
        Emetteur : {{ sender }} {% if job %}({{ job }}){% endif %}
        
        Sujet : {{ subject|trans }}

        {{ message }}
        ---------------------------------------------

        Répondre à : {{ email }}

    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p><strong>{{ site_name }}</strong></p>
        <p><em>Message envoyé via le formulaire de contact :</em></p>
        
        <p><em>Emetteur</em> : {{ sender }} {% if job %}<small>({{ job }})</small>{% endif %}</p>
        
        <p><em>Sujet</em> : {{ subject|trans }}</p>

        <p>{{ message|nl2br }}</p>

        <p><em>Répondre à : </em><a href="mailto:{{ email }}">{{ email }}</a></p>

    {% endautoescape %}
{% endblock -%}
