{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    [GINCO {{ region }}] CREATION du jeu de données {{ metadata_uuid }}
{% endblock -%}

{%- block email_body_text %}
    {% autoescape true %}
        {{ site_name }} - CREATION du jeu de données {{ metadata_uuid }}
        ----------------------------------------------------------------------
        Identifiant de métadonnées du jeu de données : {{ metadata_uuid }}
        Nom du fichier : {{ filename }}
        Date de CREATION du jeu : {{ created|date("d/m/Y H:i:s") }}
        Fournisseur : {{ provider.label }} ({{ provider.id }})
        Plate-forme : {{ site_name }}
        Type d'envoi : CREATION

        Commentaire : {{ message }}

        URL : {{ download_url }}
        CHECKSUM MD5 : {{ checksum }}

        Contact : {{ user.name }} ({{ user.login }})
        Courriel : {{ user.email }}
    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p><strong>{{ site_name }} - CREATION du jeu de données {{ metadata_uuid }}</strong></p>

        <p> <em>Identifiant de métadonnées du jeu de données :</em> {{ metadata_uuid }}<br>
            <em>Nom du fichier :</em> {{ filename }}<br>
            <em>Date de CREATION du jeu :</em> {{ created|date("d/m/Y H:i:s") }}<br>
            <em>Fournisseur :</em> {{ provider.label }} ({{ provider.id }})<br>
            <em>Plate-forme :</em> {{ site_name }}<br>
            <em>Type d'envoi :</em> CREATION</p>

        <p><em>Commentaire :</em> {{ message }}</p>

        <p><em>URL :</em> <a href="{{ download_url }}">{{ download_url }}</a><br>
            <em>CHECKSUM MD5 :</em> {{ checksum }}</p>

        <p><em>Contact :</em> {{ user.name }} ({{ user.login }})<br>
            <em>Courriel :</em> <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endautoescape %}
{% endblock -%}
