{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    [GINCO {{ region }}] {{ action }} du jeu de données {{ metadata_uuid }}
{% endblock -%}

{%- block email_body_text %}
    {% autoescape true %}
        {{ site_name }} - {{ action }} du jeu de données {{ metadata_uuid }}
        ----------------------------------------------------------------------
        Identifiant de métadonnées du jeu de données : {{ metadata_uuid }}
        Titre du jeu de données : {{ jdd_title }}
        Nom du(des) fichier(s) : {{ filename }}
        Date de {{ action }} du jeu : {{ created|date("d/m/Y H:i:s") }}
        Fournisseur : {{ provider.label }} ({{ provider.id }})
        Plate-forme : {{ site_name }}
        Type d'envoi : {{ action }}

        Commentaire : {{ message }}

        URL : {{ download_url }}
        CHECKSUM MD5 : {{ checksum }}

        Contact : {{ user.username }} ({{ user.login }})
        Courriel : {{ user.email }}
    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p><strong>{{ site_name }} - {{ action }} du jeu de données {{ metadata_uuid }}</strong></p>

        <table>
            <tr>
                <td>Identifiant de métadonnées :</td>
                <td>{{ metadata_uuid }}</td>
            </tr>
            <tr>
                <td>Titre du jdd :</td>
                <td>{{ jdd_title }}</td>
            </tr>
            <tr>
                <td>Nom du(des) fichier(s) :</td>
                <td>{{ filename }}</td>
            </tr>
            <tr>
                <td>Date de {{ action }} de la DEE :</td>
                <td>{{ created|date("d/m/Y H:i:s") }}</td>
            </tr>
            <tr>
                <td>Fournisseur :</td>
                <td>{{ provider.label }} ({{ provider.id }})</td>
            </tr>
            <tr>
                <td>Plate-forme :</td>
                <td>{{ site_name }}</td>
            </tr>
            <tr>
                <td>Type d'envoi :</td>
                <td>{{ action }}</td>
            </tr>
            <tr>
                <td>Commentaire :</td>
                <td>{{ message }}</td>
            </tr>
            <tr>
                <td>URL :</td>
                <td><a href="{{ download_url }}">{{ download_url }}</a></td>
            </tr>
            <tr>
                <td>Checksum MD5 :</td>
                <td>{{ checksum }}</td>
            </tr>
            <tr>
                <td>Contact :</td>
                <td>{{ user.username }} ({{ user.login }})</td>
            </tr>
            <tr>
                <td>Courriel :</td>
                <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
            </tr>
        </table>
    {% endautoescape %}
{% endblock -%}
