{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    [GINCO {{ region }}] Transmission du jeu de données {{ metadata_uuid }} à la plateforme nationale
{% endblock -%}

{%- block email_body_text %}
    {% autoescape true %}
        Bonjour,

        Le jeu de données {{ jdd_title }}, dont l'identifiant est {{ metadata_uuid }}, et comportant le(s) fichier(s)
        de données suivants: {{ filename }},
        a été standardisé au format GML d'échange de DEE le {{ created|date("d/m/Y H:i:s") }}.

        La plateforme nationale a été notifiée et va procéder à l'intégration de ce nouveau fichier dans l'INPN.

        Bien cordialement,

        Contact : {{ user.username }} ({{ user.login }})
        Courriel : {{ user.email }}
    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p>Bonjour,</p>

        <p> Le jeu de données <em>{{ jdd_title }}</em>, dont l'identifiant est <em>{{ metadata_uuid }}</em>, et comportant le(s) fichier(s)
            de données suivants: <em>{{ filename }}</em>,
        a été standardisé au format GML d'échange de DEE le {{ created|date("d/m/Y H:i:s") }}.</p>

        <p>La plateforme nationale a été notifiée et va procéder à l'intégration de ce nouveau fichier dans l'INPN.</p>

        <p>Bien cordialement,</p>

        <p>Contact : {{ user.username }} ({{ user.login }})<br>
        Courriel : <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endautoescape %}
{% endblock -%}
