{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    Mot de passe oublié
{% endblock -%}

{%- block email_body_text %}
    {% autoescape true %}
Bonjour {{ user.username }},

Vous avez demandé à réinitialiser votre mot de passe sur {{ site_name }}.

Pour créer un nouveau mot de passe, cliquez sur le lien ci-dessous :
    {{ url('user_validateForgottenPassword') }}?login={{ user.login }}&activationCode={{ user.activationCode }}


Vous pourrez ensuite vous connecter avec votre login ({{ user.login }}) et votre nouveau mot de passe.

Bien cordialement,

L'équipe Ginco

    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p>Bonjour {{ user.username }},</p>

        <p>Vous avez demandé à réinitialiser votre mot de passe sur {{ site_name }}.</p>

        <p>Pour créer un nouveau mot de passe, cliquez sur le lien ci-dessous :<br/>
            <a href="{{ url('user_validateForgottenPassword') }}?login={{ user.login }}&activationCode={{ user.activationCode }}">{{ url('user_validateForgottenPassword') }}?login={{ user.login }}&activationCode={{ user.activationCode }}</a>
        </p>

        <p>Vous pourrez ensuite vous connecter avec votre login ({{ user.login }}) et votre nouveau mot de passe.</p>

        <p>Bien cordialement,</p>

        <p><em>L'équipe Ginco</em></p>
    {% endautoescape %}
{% endblock -%}


