{% extends "IgnGincoBundle:Emails:base-email.html.twig" %}

{%- block subject %}
    [GINCO {{ region }}] Publication du jeu de données {{ metadata_uuid }}
{% endblock -%}

{%- block email_body_text %}
    {% autoescape %}
        Bonjour,
		
		Le jeu de données que vous nous avez transmis a été intégré sur la plate-forme :
			{{ site_name }} et publié le {{ "now"|date("d/m/Y H:i:s") }}.
		
        Sur la plate-forme, ces données portent désormais l'identifiant de la fiche de métadonnées : {{ metadata_uuid }}.

        Vous trouverez sur la plate-forme les rapports finaux de conformité et de cohérence des soumissions constituant le jeu de données, 
		les rapport finaux sur la sensibilité des observations ainsi que les fichiers vous permettant de reporter les identifiants permanents
        SINP attribués aux données du jeu par la plate-forme.

        Bien cordialement,

        Contact : {{ user.username }} ({{ user.login }})
        Courriel : {{ user.email }}
    {% endautoescape %}
{% endblock -%}

{%- block email_body_html %}
    {% autoescape false %}
        <p>Bonjour,</p>
		
		<p>Le jeu de données que vous nous avez transmis a été intégré sur la plate-forme :
			<em>{{ site_name }}</em> et publié le {{ "now"|date("d/m/Y H:i:s") }}.</p>

        <p>Sur la plate-forme, ces données portent désormais l'identifiant de la fiche de métadonnées : <em>{{ metadata_uuid }}.</em></p>

        <p>Vous trouverez sur la plate-forme les rapports finaux de conformité et de cohérence des soumissions constituant le jeu de données, 
		les rapport finaux sur la sensibilité des observations ainsi que les fichiers vous permettant de reporter les identifiants permanents
        SINP attribués aux données du jeu par la plate-forme.</p>

        <p>Bien cordialement,</p>

        <p>Contact : {{ user.username }} ({{ user.login }})
        Courriel : <a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
    {% endautoescape %}
{% endblock -%}
