{# Auto Add Fields form and flash notice (auto-add-fields report) #}

<h4>{{ 'fileField.auto.title'|trans }}</h4>

{# Specific flash notices for auto-add-fields #} {% for flashMessage in
app.session.flashbag.get('notice-autoaddfields') %}
<div class="alert alert-success">{{ flashMessage|raw }}</div>
{% endfor %} {% for flashMessage in
app.session.flashbag.get('error-autoaddfields') %}
<div class="alert alert-danger">{{ flashMessage }}</div>
{% endfor %}

{# Inline form...#} 
{{ form_start(autoAddFieldsForm, {attr:{class: 'form-inline'}}) }}
<div class="col-xs-6">{{ form_row(autoAddFieldsForm.table_format) }}</div>
<div class="col-xs-6">{{ form_row(autoAddFieldsForm.only_mandatory) }}</div>
<div class="col-xs-6">{{ form_row(autoAddFieldsForm.with_calculated) }}</div>
<div class="col-xs-6">{{ form_row(autoAddFieldsForm.submit) }}</div>
{{ form_end(autoAddFieldsForm) }}
