{% extends 'base.html.twig' %}


{% block body %}
<h1>{% trans %}Welcome{% endtrans %}</h1>

    {% if (app.user) %}
    
    <div class="left-column">
    <div class="moduletable_menu">
    
    <h3>{% trans %}Select a menu{% endtrans %}</h3>
    
    
    <ul id="appmenu" class="menu">
    
    
        {% if (app.user and app.user.isAllowed('DATA_INTEGRATION')) %}
        <li>
        	<a href="{{ path('integration_home') }}" class="pagelink" >{% trans %}Data Integration{% endtrans %}</a>
        </li>
        {% endif %}
        
        {% if (app.user and app.user.isAllowed('DATA_QUERY') and app.user.isSchemaAllowed('RAW_DATA')) %}
        <li>
        <a href="{{ path('query_home') }}?SCHEMA=RAW_DATA" class="pagelink" >{% trans %}Visualize Raw Data{% endtrans %}</a>
        </li>
        {% endif %}
        
        
        {% if (app.user and app.user.isAllowed('DATA_EDITION') and app.user.isSchemaAllowed('RAW_DATA')) %}
        <li>
        <a href="{{ path('query_home') }}?SCHEMA=RAW_DATA&tab=edition" class="pagelink" >{% trans %}Add a new localisation{% endtrans %}</a>
        </li>
        {% endif %}
        
        
        {% if (app.user and app.user.isAllowed('DATA_HARMONIZATION')) %}
        <li>
        <a href="{{ path('harmonization_home') }}" class="pagelink" >{% trans %}Data Harmonization{% endtrans %}</a>
        </li>
        {% endif %}
        
        
        {% if (app.user and app.user.isAllowed('DATA_QUERY') and app.user.isSchemaAllowed('HARMONIZED_DATA')) %}
        <li>
        <a href="{{ path('query_home') }}?SCHEMA=HARMONIZED_DATA" class="pagelink" >{% trans %}Visualize Harmonized Data{% endtrans %}</a>
        </li>
        {% endif %}
        
        
        {% if (app.user and app.user.isAllowed('MANAGE_USERS')) %}
        <li>
        <a href="{{ path('usermanagement_home') }}" class="pagelink" >{% trans %}User Administration{% endtrans %}</a>
        </li>
        {% endif %}
        
        {% if (app.user and app.user.isAllowed('CHECK_CONF')) %}
        <li>
        <a href="{{ path('checkconf_showconfig') }}" class="pagelink" >{% trans %}Check Configuration{% endtrans %}</a>
        </li>
        {% endif %}
    
    
    </ul>
    </div>
    </div>  
    
    {% endif %}


{% endblock %}