{% extends "::base.html.twig" %}
{% form_theme form with ['form.html.twig', _self] %}

{% block form_label_class -%}
    col-sm-2
{%- endblock form_label_class %}

{% block form_group_class -%}
    col-sm-10
{%- endblock form_group_class %}

{% block body %}

    <h1>{% trans %}Configuration.main.title{% endtrans %}</h1>

    <ul class="nav nav-tabs">
        <li role="presentation"><a href="{{  path('configuration_parameters') }}">{{ 'Configuration.params.title'|trans }}</a></li>
        <li role="presentation" class="active"><a href="#">{{ 'Configuration.homepage.title'|trans }}</a></li>
        <li role="presentation"><a href="{{  path('configuration_presentation') }}">{{ 'Configuration.presentation.title'|trans }}</a></li>
    </ul>

    <h2>{{ 'Configuration.homepage.title'|trans  }}</h2>

    {{ form_start(form) }}

    {{ form_row(form.homepageIntro) }}
    {{ form_row(form.homepageImage) }}

    {#{{ form_row(form.homepageLinks) }}#}

    <ul class="links" data-prototype="{{ form_widget(form.homepageLinks.vars.prototype)|e('html_attr') }}">
    {% for link in form.homepageLinks %}
        <li>{{ form_row(link) }}</li>
    {% endfor %}
    </ul>

    {{ form_row(form.submit) }}
    {{ form_end(form) }}

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        var $collectionHolder;

        // setup an "add a link" link
        var $addTagLink = $('<a href="#" class="add_tag_link">Add a tag</a>');
        var $newLinkLi = $('<li></li>').append($addTagLink);

        $(function(){
            // Get the ul that holds the collection of tags
            $collectionHolder = $('ul.links');

            // add the "add a tag" anchor and li to the tags ul
            $collectionHolder.append($newLinkLi);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addTagLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addLinkForm($collectionHolder, $newLinkLi);
            });

        });

        function addLinkForm($collectionHolder, $newLinkLi) {
            // Get the data-prototype explained earlier
            var prototype = $collectionHolder.data('prototype');

            // get the new index
            var index = $collectionHolder.data('index');

            var newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            $collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);
        }
    </script>
{% endblock %}
