{% extends "::base.html.twig" %}


{% block body %}

{% if error %}
    <div class="errors">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1>{% trans %}Authentication{% endtrans %}</h1>

<div class="login-form"><div class="form-super-ct"><div class="form-ct">

    <form action="{{ path('user_validatelogin') }}" method="post" onSubmit="cram()">
        
        <div class="zend_form">
        
            <div class="text element" id="login-element">
            	<label for="username" class="required">{% trans %}Username{% endtrans %}:</label>
            	<input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            
        	<div class="password element" id="password-element">
            	<label for="password" class="required">{% trans %}Password{% endtrans %}:</label>
            	<input type="password" id="password" name="_password" />
            </div>
        
        	<input type="hidden" name="challenge" value="{{ challenge }}" id="challenge" />
        	
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/account" />
            #}
        
        	<div class="button">
            	<input type="submit" name="submit" id="submit" value="{% trans %}Log in{% endtrans %}"/>
            </div>
        
        </div>
        
        <a class="forgotten_password_link" href="{{ path('user_forgotten_password') }}">{% trans %}Password_forgotten{% endtrans %}</a>
        
    </form>

</div></div></div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts '@OGAMBundle/Resources/public/js/auth_cram.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
