{# Variables : errorReport #}

{% extends "base.html.twig" %}

{% set user = app.user %}

{% block body %}
    <h1>Rapport d'intégration de données</h1>
    <hr>

    <h2>Description de l'import</h2>
    <ul>
        <li>Date d'intégration : {{ submission.creationDate|date("Y-m-d")}}</li>
        <li>Modèle d'import : {{ submission.dataset.label }}</li>
        <li>Identifiant de la soumission : {{ submission.id }}</li>
        <li>Etape : {{ submission.step }}</li>
        <li>Statut : {{ submission.status }}</li>
        <li>Nb d'erreurs : {{ errors|length }}</li>
    </ul>
        
    <h2>Fichiers importés</h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Nom du modèle de fichier</th>
            <th>Nom du fichier</th>
            <th>Nombre de données (lignes)</th>
        </tr>
        {% for file in submission.files %}
            <tr>    
                <td>{{ file.fileType.label }}</td>
                <td>{{ file.basename }}</td>
                <td>{{ file.nbLines }}</td>
            </tr>
        {% endfor %}
    </table>
       
    <h2>Erreurs de conformité</h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Identifiant de l'erreur</th>
            <th>Nombre d'occurrences</th>
            <th>Message d'erreur</th>
        </tr>
        {% for errorCount in errorCounts if errorCount.check_id < 1200 %}
            <tr>
                <td>{{ errorCount.check_id }}</td>
                <td>{{ errorCount.count }}</td>
                <td>{{ errorCount.description }}</td>
            </tr>
        {% endfor %}
    </table>
       
    <h2>Détails des erreurs de conformité</h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Identifiant</th>
            <th>Modèle de fichier</th>
            <th>Champ</th>
            <th>Ligne</th>
            <th>Valeur</th>
            <th>Valeur ou format attendu</th>
            <th>Message d'erreur</th>
        </tr>
        {% for error in errors if error.checkError.id < 1200 %}
            <tr>    
                <td>{{ error.checkError.id }}</td>
                <td>{{ error.srcFormat.label }}</td>
                <td>{{ error.srcData }}</td>
                <td>{{ error.lineNumber }}</td>
                <td>{{ error.foundValue }}</td>
                <td>{{ error.expectedValue }}</td>
                <td>{{ error.errorMessage }}</td>
            </tr>
        {% endfor %}
    </table>
    
    <h2>Erreurs de cohérence</h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Identifiant de l'erreur</th>
            <th>Nombre d'occurrences</th>
            <th>Message d'erreur</th>
        </tr>
        {% for errorCount in errorCounts if errorCount.check_id > 1120 %}
            <tr>
                <td>{{ errorCount.check_id }}</td>
                <td>{{ errorCount.count }}</td>
                <td>{{ errorCount.description }}</td>
            </tr>
        {% endfor %}
    </table>
       
    <h2>Détails des erreurs de cohérence</h2>
    <table class="table table-hover table-bordered">
        <tr>
            <th>Identifiant</th>
            <th>Modèle de fichier</th>
            <th>Ligne</th>
            <th>Message d'erreur</th>
        </tr>
        {% for error in errors if error.checkError.id > 1120 %}
            <tr>    
                <td>{{ error.checkError.id }}</td>
                <td>{{ error.srcFormat.label }}</td>
                <td>{{ error.lineNumber }}</td>
                <td>{{ error.errorMessage }}</td>
            </tr>
        {% endfor %}
    </table> 
{% endblock %}


