{% extends "::base.html.twig" %}

{% block body %}
<h1>{{ 'Data integration module'|trans }}</h1>

{% set user = app.user %}

<!-- Show the currently active jdd -->
{% if jddList is not empty %}
    <p>
        <a href="{{ path("jdd_new") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
        </a>
    <p/>

    <!-- Show the currently active location submissions -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'JDD ID'|trans }}</th>
                <th>{{ 'Actions JDD'|trans }}</th>
                <th>{{ 'Submission ID'|trans }}</th>
                <th>{{ 'Date'|trans }}</th>
                <th>{{ 'Provider'|trans }}</th>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Dataset'|trans }}</th>
                <th>{{ 'Step'|trans }}</th>
                <th>{{ 'Status'|trans }}</th>
                <th>{{ 'IntegrationPage.File'|trans }} ({{ 'Lines'|trans }})</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for jdd in jddList %}
            {% set nbSubmissions = jdd.activeSubmissions|length %}
            <tr>
                <td rowspan="{{ nbSubmissions + 1 }}">
                    <a href="{{ path('jdd_show', { 'id': jdd.id }) }}">{{ jdd.id }}</a>
                </td>
                <td rowspan="{{ nbSubmissions + 1 }}">
                    {% if jdd.deletable %}
                        <a title="{% trans %}Delete{% endtrans %}" href="{{ path('jdd_delete', {'id' : jdd.id}) }}" onClick="return confirm('{% trans %}Are you sure?{% endtrans %}');">&nbsp;</a>
                    {% else %}
                        <a title="{% trans %}Delete{% endtrans %}" href="#" onClick="alert('{% trans %}Impossible to delete this jdd.{% endtrans %}');">&nbsp;</a>
                    {% endif %}

                    {% if jdd.deletable %}
                        <button class="btn btn-xs btn-danger" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete jdd -->
                        <div class="modal fade" id="modal-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.id} %} Jdd.delete.prompt {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                        <a type="button" class="btn btn-primary"
                                           href="{{ path('jdd_delete', {'id' : jdd.id}) }}">
                                            {% trans %}Continue{% endtrans %} </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button class="btn btn-xs btn-default btn-disabled" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-impossible-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete Jdd -->
                        <div class="modal fade" id="modal-impossible-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.id} %} Jdd.delete.impossible {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>

                {# List of submissions #}
                {% for submission in jdd.activeSubmissions %}
                    <td>{{ submission.id }}</td>
                    <td>{{ submission.creationDate|date("Y-m-d") }}</td>
                    <td>{{ submission.provider.label }}</td>
                    <td>{{ submission.user.login }}</td>
                    <td>{{ submission.dataset is not null ? submission.dataset.label : 'IntegrationPage.NoDataset'|trans }}</td>
                    <td>{{ submission.step }}</td>
                    {# Status -- see integration-progress-bars.js.twig #}
                    <td>
                        <div class="integration-status hidden" data-target="{{ submission.id }}">{{ submission.status }}</div>

                        <div class="integration-progress hidden">
                            <div>{{ 'IntegrationPage.import.running'|trans }}</div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    0%
                                </div>
                            </div>
                        </div>
                        <div class="integration-content" data-target="{{ submission.id }}">
                            {% if submission.status in ['OK','CHECK'] %}
                                <span class="glyphicon glyphicon-ok color-success" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                            {% elseif submission.status in ['WARNING'] %}
                                <span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                            {% elseif submission.status in ['ERROR'] %}
                                <span class="glyphicon glyphicon-remove color-danger" aria-hidden="true"></span>&nbsp;{{ submission.status }}
                            {% endif %}
                        </div>
                    </td>
                    {# File and lines #}
                    <td>
                        {% if submission.status not in ['RUNNING'] %}
                            {% for file in submission.files %}
                                <div>{{ file.fileName|replace({'\\':'/'})|split('/')|last }}
                                ({{ file.nbLines }})
                                </div>
                            {% endfor %}
                        {% endif %}
                    </td>
                    {# Actions #}
                    <td>
                        {% if submission.step is constant('STEP_INSERTED', submission)  and submission.status is constant('STATUS_OK', submission) %}
                            <a href="{{ path('integration_check', {'submissionId': submission.id}) }}" title="{{ 'Check data'|trans }}">
                                <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                        {% if submission.step is not constant('STEP_INIT', submission) and submission.status is not constant('STATUS_RUNNING', submission) %}
                             <a href="{{ absolute_url("../proxy/show-report?submissionId=#{submission.id}") }}" title="{{ 'Show report'|trans }}" >
                                 <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                             </a>
                        {% endif %}
                        {% if (submission.step is same as('CHECK') and (submission.status is same as("OK") or submission.status is same as('WARNING'))) %}
                            <a href="{{ path('integration_validate',{'submissionId': submission.id}) }}" title="{{ 'Confirm submission'|trans }}"
                               onClick="return confirm('{{ 'Confirm_submission_warning'|trans }}');">
                                <span class="glyphicon glyphicon-open" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                        {% if (submission.step is same as('VALIDATE') and (submission.status is same as("OK") or submission.status is same as('WARNING'))) %}
                            <a href="{{ path('integration_invalidate',{'submissionId': submission.id}) }}" title=" {{ 'Invalidate submission'|trans }}"
                               onClick="return confirm('{{ 'Confirm_invalidation_warning'|trans }}');">
                                <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                        {% if (submission.step != "VALIDATE" or user.isAllowed('CANCEL_VALIDATED_SUBMISSION'))
                           and (submission.provider.id is same as(user.provider.id) or user.isAllowed('CANCEL_OTHER_PROVIDER_SUBMISSION')) %}
                            <a href="{{ path('integration_cancel', {'submissionId': submission.id}) }}" title="{{ 'Cancel Submission'|trans }}"
                               onClick="return confirm('{{ 'Are you sure?'|trans }}');">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        {% endif %}
                    </td>
                    </tr>
                    <tr>
                {% endfor %}
                {# Add a new submission to dataset #}
                <td colspan="9"><a href="{{ path("integration_creation", { 'jddid': jdd.id }) }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  {{ 'Jdd.submission.add'|trans }}
                    </a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans %}No submission found{% endtrans %}</p>
{% endif %}
<p><a href="{{ path("jdd_new") }}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
</a><p/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% include '@IgnGinco/Integration/integration-progress-bars.js.twig' %}
    </script>
{% endblock %}
