{% extends "::base.html.twig" %}

{% block body %}

{# User is the real user if connected, or the anonymous user 'visiteur' if not - he is never 'null' #}
{% set user = (app.user) ?: anonymous.user %}

{# Set variables #}
{% if user.isAllowed('MANAGE_DATASETS_OTHER_PROVIDER') %}
    {% set isAllowedMDOP = true %}
{% else %}
    {% set isAllowedMDOP = false %}
{% endif %}

{% if allJdds is defined and allJdds == true %}
    {% set jddTitleIdColSize = 26 %}
    {% set submissionsActionsColSize = 24 %}
    {% set filesLinesColSize = 30 %}
    {% set submissionStatusColSize = 5 %}
{% else %}
    {% set allJdds = false %}
    {% set jddTitleIdColSize = 24 %}
    {% set submissionsActionsColSize = 14 %}
    {% set filesLinesColSize = 32 %}
    {% set submissionStatusColSize = 3 %}
{% endif %}


{# Size of columns array and filename max size #}
{% if allJdds is defined and allJdds == true %}
    {% set colSizes = {
    jddActions: 10,
    jddTitleId: 50,
    creationDate: 25,
    providerUser: 50,
    submissionsActions: 40,
    filesLines: 60,
    submissionStatus: 12,
    deeDepositDate: 30,
    deeActions: 12} %}
    {% set filenameMaxLength = 18 %}
{% else %}
    {% set allJdds = false %}
    {% set colSizes = {
    jddActions: 10,
    jddTitleId: 56,
    creationDate: 20,
    submissionsActions: 30,
    filesLines: 50,
    submissionStatus: 15,
    deeDepositDate: 30,
    deeActions: 10} %}
    {% set filenameMaxLength = 32 %}
{% endif %}

{# Title of the page #}
{% if allJdds is defined and allJdds == true %}
	<h1>{{ 'Jdd.list.title.all'|trans }}</h1>
{% else %}
	<h1>{{ 'Jdd.list.title.user'|trans }}</h1>
{% endif %}

<!-- Show the currently active jdd -->
{% if jddList is not empty %}
    <p>
        <a href="{{ path("jdd_new") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
        </a>
    </p>

    <!-- Show the currently active location submissions -->
    <table  id="jddTable" data-toggle="table"
            data-click-to-select="true" data-search="true" data-search-align="right"
            data-classes="table table-hover table-bordered jdd-table"
            data-locale="fr-FR" data-pagination="true" data-page-size="10" data-page-list="[10, 25, 50, 100, 500, 1000]"
            data-advanced-search="true" data-id-table="advancedTable"/>

        {# Jdd group #}
        <colgroup>
            {# Actions column #}
            <col style="width: {{ colSizes.jddActions }}%;"/>
            {# Title/Id column #}
            <col style="width: {{ colSizes.jddTitleId }}%;"/>
            {# Creation date column #}
            <col style="width: {{ colSizes.creationDate }}%;"/>
            {% if isAllowedMDOP and allJdds %}
                 {# Provider / User column #}
                <col style="width: {{ colSizes.providerUser }}%;"/>
            {% endif %}
        </colgroup>
        {# Submissions group #}
        <colgroup>
            {# Actions column #}
            <col style="width: {{ colSizes.submissionsActions }}%;"/>
            {# Files(lines) column #}
            <col style="width: {{ colSizes.filesLines }}%;"/>
            {# Status column #}
            <col style="width: {{ colSizes.submissionStatus }}%;"/>
        </colgroup>
        <colgroup>
            {# Date column #}
            <col style="width: {{ colSizes.deeDepositDate }}%;"/>
            {# Actions column #}
            <col style="width: {{ colSizes.deeActions }}%;"/>
        </colgroup>

        <thead>
          <tr>
              <th colspan="{{ allJdds ? 4:3 }}" class="text-center color1">{{ 'Jdd.list.jdd'|trans }}</th>
              <th colspan="3" class="text-center color2">{{ 'Jdd.list.submissions'|trans }}</th>
              <th colspan="2" class="text-center color1">{{ 'DEE.table.title'|trans }}</th>
              <th data-visible="false" ></th>
              <th data-visible="false" ></th>
              <th data-visible="false" ></th>
           </tr>
           <tr>
               <th data-searchable="false" class="color1"/>
               <th data-field="nameAndId" data-sortable="true" data-sort-name="title" class="color1">{{ 'Jdd.list.name'|trans }} / {{ 'Jdd.list.metadataId'|trans }}</th>
               <th data-field="createdOn" data-sortable="true" data-sort-name="created" class="color1">{{ 'Jdd.list.createdOn'|trans }}</th>
               {% if isAllowedMDOP and allJdds %}
                   <th data-field="providerAndUser" data-sortable="true" class="color1">{{ 'Jdd.list.provider'|trans }} / {{ 'Jdd.list.user'|trans }}</th>
               {% endif %}
               <th data-field="actions" data-searchable="false" class="color2" data-align="center">{{ 'Actions'|trans }}</th>
               <th data-field="filesAndLines" class="color2" style="width: 44%;">{{ 'IntegrationPage.FilesAndLines'|trans }}</th>
               <th data-field="status" data-searchable="false" class="text-center color2">{{ 'IntegrationPage.Status'|trans }}</th>
               <th data-field="deeCreationDate" data-sortable="true" data-sort-name="deedate" class="color1">{{ 'DEE.table.statusAndDate'|trans }}</th>
               <th data-searchable="false" class="color1"></th>

               {# Non visible columns used for sorting #}
                <th data-field="title" data-visible="false" data-searchable="false"></th>
                <th data-field="created" data-visible="false" data-searchable="false"></th>
                <th data-field="deedate" data-visible="false" data-searchable="false"></th>
            </tr>
        </thead>
        <tbody>
        {% for jdd in jddList %}
            <tr>
                {# Actions JDD #}
                <td>
                    {# Delete #}
                    {% if jdd.trueDeletable %}
                        <button class="btn btn-xs btn-danger" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete jdd -->
                        <div class="modal fade" id="modal-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.field('title')} %} Jdd.delete.prompt {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                        <a type="button" class="btn btn-primary"
                                           href="{{ path('jdd_delete', {'id' : jdd.id}) }}">
                                            {% trans %}Continue{% endtrans %} </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button class="btn btn-xs btn-default btn-disabled" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-impossible-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete Jdd -->
                        <div class="modal fade" id="modal-impossible-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.field('title')} %} Jdd.delete.impossible {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>

                {# Title and metadata id of the jdd #}
                <td>
                    <a class="" title="{{ 'Jdd.list.view'|trans }}" href="{{ path('jdd_show', { 'id': jdd.id }) }}">{{ jdd.field('title') }}</a>
                    <br/>
                    <span class="text-muted longtext">{{ jdd.field('metadataId') }}</span>
                </td>

                {# Creation date of the jdd #}
                <td>
                    <p data-full-date={{ jdd.createdAt|date('c') }}>{{ jdd.createdAt|date('d/m/Y') }}<br/>{{ jdd.createdAt|date('H\\hi') }}</p>
                </td>

                {# Provider label and username of the jdd #}
                {% if isAllowedMDOP and allJdds %}
                    <td>
                       <p>{{ jdd.provider.label }}</p>
                       <p>{{ jdd.user.username }}</p>
                    </td>
                {% endif %}

                {# Submissions #}
                {# Actions (including reports) #}
                <td>
                    {% if jdd.activeSubmissions|length > 0 %}
                        {% for submission in jdd.activeSubmissions %}
                            <div class="submission-line submission-line-actions">
                                {%  include "@IgnGinco/Integration/submission_actions.html.twig" %}
                            </div>
                        {% endfor %}
                    {% else %}
                    <p>-</p>
                    {% endif %}
                </td>
                {# File and lines #}
                <td>
                    {% for submission in jdd.activeSubmissions %}
                        <div class="submission-line submission-line-file">
                            {% for file in submission.files %}
                                {% set filename = file.fileName|trim|pathinfo_filename %}
                                <div class="submission-line-lines">({{file.nbLines}})</div>
                                <div title="{{ filename }}" class="submission-line-file-name longtext oneline">{{ filename }}</div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    {# Add a new submission to dataset #}
                    <div class="submission-line">
                        <a href="{{ path("integration_creation", { 'jddid': jdd.id }) }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  {{ 'Jdd.submission.add'|trans }}
                        </a>
                    </div>
                </td>
                {# Status -- see integration-progress-bars.js.twig #}
                <td>
                    {% for submission in jdd.activeSubmissions %}
                        <div class="submission-line submission-line-status" >
                            <div class="integration-status hidden" data-target="{{ submission.id }}">Status:{{ submission.status }};Step:{{ submission.step }}</div>
                            <div class="integration-progress hidden">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" title="{{ 'IntegrationPage.import.running'|trans }}" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="integration-content" data-target="{{ submission.id }}"
                                {% if submission.status in ['OK','CHECK'] %}
                                    ><span class="glyphicon glyphicon-ok color-success" title="&nbsp;{{ submission.status }}" aria-hidden="true"></span>
                                {% elseif submission.status in ['WARNING'] %}
                                    ><span class="glyphicon glyphicon-alert color-warning" title="&nbsp;{{ submission.status }}" aria-hidden="true"></span>
                                {% elseif submission.status in ['ERROR'] %}
                                    ><span class="glyphicon glyphicon-remove color-danger" title="&nbsp;{{ submission.status }}" aria-hidden="true"></span>
                                {% elseif submission.step in ['CANCEL'] and submission.status in ['RUNNING'] %}
                                    title="{% trans with {'%submissionId%': submission.id}%}IntegrationPage.cancel.running.tooltip{% endtrans %}">
                                    <span class="glyphicon glyphicon-alert color-warning" aria-hidden="true"></span>&nbsp;
                                {% else %}
                                    >
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </td>

                {# DEE Column - Empty / filled by Ajax #}
                {% set permToGenerateDEE = user.isAllowed('GENERATE_DEE_ALL_JDD') or (user.isAllowed('GENERATE_DEE_OWN_JDD') and jdd.user.login == user.login ) %}
                <td>
                    <div class="dee" data-jdd-id="{{ jdd.id }}" data-perm-generate="{{ permToGenerateDEE ? 1 : 0 }}">
                        <div class="dee-state">
                            <div class="progress-label hidden"></div>
                            <div class="hidden">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                        0%
                                    </div>
                                </div>
                            </div>
                            <div class="progress-cancel"></div>
                            <div class="dee-content"></div>
                        </div>
                    </div>
                    </td>
                    <td>
                        <div class="dee" data-jdd-id="{{ jdd.id }}" data-perm-generate="{{ permToGenerateDEE ? 1 : 0 }}">
                                <div class="dee-actions"></div>
                        </div>
                    </td>



                {# Non visible fields used for sorting #}
                {# Title: sortable column, non visible #}
                <td>
                    {{ jdd.field('title') }}
                </td>
                {# Creation date of the jdd #}
                <td>
                    {{ jdd.createdAt|date('Y-m-d H:i') }}
                </td>
                {# Creation date of the DEE #}
                <td>
                    {{ jdd.dee ? jdd.dee.createdAt|date('Y-m-d H:i') : '1970-01-01 00:00'}}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if user.isAllowed('GENERATE_DEE_ALL_JDD') or user.isAllowed('GENERATE_DEE_OWN_JDD') %}
        <!-- DEE dialog popup -->
        <div class="modal fade" id="DEEModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'Close'|trans }}"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                        <p id="modal-notice"></p>
                        <form>
                            <div class="form-group">
                                <label class="control-label">{{ 'Comment'|trans }}</label>
                                <textarea class="form-control" id="DEE-comment"></textarea>
                                <div class="help-block"></div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'Cancel'|trans }}</button>
                        <button type="button" class="btn btn-primary" id="modal-submit"></button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Can't generate DEE modal -->
        <div class="modal fade" id="DEECantGenerateModal" tabindex="-1" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        {{ 'DEE.impossibleModal.body'|trans }}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default"
                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% else %}
    <p>{% trans %}Jdd.none{% endtrans %}</p>
{% endif %}
<p><a href="{{ path("jdd_new") }}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% include '@IgnGinco/Integration/integration-progress-bars.js.twig' %}
        {% include '@IgnGinco/Integration/integration-cancel.js.twig' %}
        {% include '@IgnGinco/Jdd/dee-generation.js.twig' %}
    </script>
{% endblock %}
