{% extends "::base.html.twig" %}

{% block body %}
<h1>{{ 'Data integration module'|trans }}</h1>

{% set user = app.user %}

<!-- Show the currently active jdd -->
{% if jddList is not empty %}
    <p>
        <a href="{{ path("jdd_new") }}">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
        </a>
    </p>

    <!-- Show the currently active location submissions -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>{{ 'JDD ID'|trans }}</th>
                <th>{{ 'Actions JDD'|trans }}</th>
                <th>{%  include "IgnGincoBundle:Integration:submission_line_light.html.twig" %}</th>
            </tr>
        </thead>
        <tbody>
        {% for jdd in jddList %}
            <tr>
                <td>
                    <a href="{{ path('jdd_show', { 'id': jdd.id }) }}">{{ jdd.id }}</a>
                </td>
                <td>
                    {% if jdd.deletable %}
                        <a title="{% trans %}Delete{% endtrans %}" href="{{ path('jdd_delete', {'id' : jdd.id}) }}" onClick="return confirm('{% trans %}Are you sure?{% endtrans %}');">&nbsp;</a>
                    {% else %}
                        <a title="{% trans %}Delete{% endtrans %}" href="#" onClick="alert('{% trans %}Impossible to delete this jdd.{% endtrans %}');">&nbsp;</a>
                    {% endif %}

                    {% if jdd.deletable %}
                        <button class="btn btn-xs btn-danger" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete jdd -->
                        <div class="modal fade" id="modal-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.id} %} Jdd.delete.prompt {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                        <a type="button" class="btn btn-primary"
                                           href="{{ path('jdd_delete', {'id' : jdd.id}) }}">
                                            {% trans %}Continue{% endtrans %} </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <button class="btn btn-xs btn-default btn-disabled" title="{{ 'Delete'|trans }}" data-toggle="modal" data-target="#modal-impossible-delete-jdd-{{ jdd.id }}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </button>

                        <!-- Modal - Delete Jdd -->
                        <div class="modal fade" id="modal-impossible-delete-jdd-{{ jdd.id }}"
                             tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        {% trans with {'%jddId%': jdd.id} %} Jdd.delete.impossible {% endtrans %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default"
                                                data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </td>
                <td class="submissions">
                    {# List of submissions #}
                    {% for submission in jdd.activeSubmissions %}
                        {%  include "IgnGincoBundle:Integration:submission_line_light.html.twig" %}
                    {% endfor %}
                    {# Add a new submission to dataset #}
                    <div class="submission-line">
                        <a href="{{ path("integration_creation", { 'jddid': jdd.id }) }}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>  {{ 'Jdd.submission.add'|trans }}
                        </a>
                    </div>
                </td>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>{% trans %}No submission found{% endtrans %}</p>
{% endif %}
<p><a href="{{ path("jdd_new") }}">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> {% trans %}Create data submission{% endtrans %}
</a></p>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        {% include '@IgnGinco/Integration/integration-progress-bars.js.twig' %}
    </script>
{% endblock %}
