{% extends "::base.html.twig" %}

{% block body %}
<h1>
   {{ 'Data harmonization module'|trans }} - {{ 'Error'|trans }}
</h1>
<div class="status-img"></div>
<span class="error-msg">{{ errorMessage }}</span>
<div class="bottom-menu">
    <a href="{{ path('harmonization_home') }}"><b>{{ 'Back'|trans}}</b></a>
</div>
{% endblock %}