{% extends "IgnOGAMConfigurateurBundle::layout.html.twig" %} {% block title
%}{% trans %}Visualisation of an import model{%endtrans%}{% endblock %}


{% block breadcrumb %}
	<ol class="breadcrumb">
		{% if route_exists('homepage') %}<li><a href="{{ path('homepage') }}">{%trans %}breadcrumb.home{% endtrans %}</a></li>{% endif %}
		<li><a href="{{ path('configurateur_homepage') }}">{%trans %}breadcrumb.configurator{% endtrans %}</a></li>
		<li><a href="{{ path('configurateur_dataset_import_index') }}">{%trans %}breadcrumb.importmodel.index{% endtrans %}</a></li>
		<li class="active">{% trans with {'%modelName%': dataset.label}%}breadcrumb.importmodel.view{% endtrans %}</li>
	</ol>
{% endblock breadcrumb %}

{% block body %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 id="panel-title" class="panel-title">{{ dataset.label }}</h3>
	</div>
	<div class="panel-body">
		<br>
		<p><b>Description : </b> {{ dataset.definition }}</p>
		<p><b>Modèle de données cible : </b> {{ dataset.model.name }}</p>
	</div>
	{% if files|length != 0 %}
	<div class="panel-body">
		<div class=col-md-6>
			<table class="table table-bordered table-striped">
				<thead>
					<tr>
						<th data-halign="center" data-align="center">{% trans %}importmodel.files.list{%
							endtrans %}</th>
						<th></th>
					</tr>
				</thead>
				{% for file in files %}
				<tr>
					<td>{{ file.label }}</td>

					<td class=col-md-1><a type="button" class="btn btn-default"
						href="{{ path('configurateur_file_view',{ 'datasetId' : dataset.id, 'format': file.format} ) }}">
							<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</a></td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
