{% extends "::base.html.twig" %}

{% block body %}
<h1>{% trans %}Roles{% endtrans %}</h1>

<table class="sectiontable">
<tr>
	<th></th>
	<th>{% trans %}Label{% endtrans %}</th>
	<th>{% trans %}Definition{% endtrans %}</th>
	<th></th>
</tr>


{% for role in roles %}
<tr class="sectiontableentry{{ loop.index0 % 2 }}">

	<td class="edit-cell"><a title="{% trans %}Edit{% endtrans %}" href="{{ path('usermanagement_editRole', {'code' : role.code}) }}">&nbsp;</a></td>
	<td>{{ role.label }}</td>
	<td>{{ role.definition }}</td>
	{% if isDeletableRole[role.code] %}
		<td class="delete-cell">
			<a title="{% trans %}Delete{% endtrans %}" href="{{ path('usermanagement_deleteRole', {'code' : role.code}) }}" onClick="return confirm('{% trans %}Are you sure?{% endtrans %}');">&nbsp;</a></td>
		</td>
	{% else %}
		<td class="delete-cell desaturate">
			<a title="{% trans %}Delete{% endtrans %}" href="#" onClick="alert('{% trans %}Impossible to delete this role.{% endtrans %}');">&nbsp;</a>
		</td>
	{% endif %}
</tr>
{% endfor %}
</table>

<p class="subTableLink">
    <a href="{{ path('usermanagement_editRole') }}">{% trans %}Create Role{% endtrans %}</a>
<p/>




{% endblock %}
