{% extends "::base.html.twig" %}

{% block body %}

<h1>{% trans %}Providers{% endtrans %}</h1>






<table class="sectiontable">
<tr>
	<th>{% trans %}id{% endtrans %}</th>
	<th>{% trans %}Provider Id{% endtrans %}</th>
	<th>{% trans %}Definition{% endtrans %}</th>
	<th></th>
	<th></th>
	<th></th>
</tr>
{% for provider in providers %}
<tr class="sectiontableentry{{ loop.index0 % 2 }}">
	<td>{{ provider.id }}</td>
	<td>{{ provider.label }}</td>
	<td>{{ provider.definition }}</td>
	<td class="view-cell"><a title="{% trans %}View related users and content{% endtrans %}" href="{{ path('usermanagement_showProviderContent', {'id' : provider.id}) }}">&nbsp;</a></td>
	<td class="edit-cell"><a title="{% trans %}Edit{% endtrans %}" href="{{ path('usermanagement_editProvider', {'id' : provider.id}) }}">&nbsp;</a></td>
	{% if isDeletableProvider[provider.id] %}
		<td class="delete-cell">
			<a title="{% trans %}Delete{% endtrans %}" href="{{ path('usermanagement_deleteProvider', {'id' : provider.id}) }}" onClick="return confirm('{% trans %}Are you sure?{% endtrans %}');">&nbsp;</a>
		</td>
	{% else %}	 
		<td class="delete-cell desaturate">
			<a title="{% trans %}Delete{% endtrans %}" href="#" onClick="alert('{% trans %}Impossible to delete this provider.{% endtrans %}');">&nbsp;</a>
		</td>
	{% endif %}
</tr>
{% endfor %}
</table>

<p class="subTableLink">
    <a href="{{ path('usermanagement_editProvider') }}">{% trans %}Create Provider{% endtrans %}</a>
<p/>


{% endblock %}
